{% if collection.empty? %}
  {% comment %}add default state for collection block in storefront editor{% endcomment %}
  {% capture collection_title %}{{ 'homepage.onboarding.collection_title' | t }}{% endcapture %}
  {% capture collection_image_url %}{% endcapture %}
{% else %}
  {% capture collection_title %}{{ collection.title }}{% endcapture %}
{% endif %}
{% capture collection_details %}
  <div class="collection__item-details">
    <a class="inline-block-full" href="{{ collection.url }}" title="{{ collection_title }}">
      <h3 class="prod-title h4">{{ collection.title }}</h3>
      {%- if section.settings.collection_count -%}
        <p class="mb0">{{ collection.products_count }} {{ 'collections.general.items' | t }}</p>
      {%- endif -%}
    </a>
  </div>
{% endcapture %}

<div class="collection__list-item" data-alpha="{{ collection.title }}">
  <div class="collection__item-image">
    {%- if floating_text -%}
      {{ collection_details }}
    {%- endif -%}
    <a class="inline-block-full" href="{{ collection.url }}" title="{{ collection_title }}">
    {% if block_image != blank %}
      {% render "basic-responsive-image", type: block_image, data_widths: '[180, 360, 540, 720, 900]' %}
      <noscript>
        <img src="{{ block_image | img_url: '1024x1024' }}" alt="{{ block_image.alt | escape }}" class="collection__image">
      </noscript>
    {% elsif collection.image %}
      {% render "basic-responsive-image", type: collection.image, data_widths: '[180, 360, 540, 720, 900]' %}
      <noscript>
        <img src="{{ collection.image | img_url: '1024x1024' }}" alt="{{ collection.image.alt | escape }}" class="collection__image">
      </noscript>
    {% elsif collection.products.first.featured_image %}
      {% render "basic-responsive-image", type: collection.products.first.featured_image, data_widths: '[180, 360, 540, 720, 900]' %}
      <noscript>
        <img src="{{ collection.products.first.featured_image | img_url: '1024x1024' }}" alt="{{ collection.products.first.featured_image.alt | escape }}" class="collection__image">
      </noscript>
    {% else %}
      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
      {%- assign placeholder = 'collection-' | append: current -%}
      <div class="collection-image no-image--placeholder onboard {% unless section.settings.image_ratio == 'natural' %}box-ratio{% endunless %}">
        {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}
    </a>
  </div>

  {%- unless floating_text -%}
    {{ collection_details }}
  {%- endunless -%}

</div>
