<a class="collection__sidebar-mobile-trigger js-collection-side-toggle" href="#">
  <svg width="20" height="20" viewBox="0 0 24 24">
    <g fill="none" fill-rule="evenodd">
      <rect width="24" height="24"/>
      <path fill="var(--text-color)" fill-rule="nonzero" d="M6.17070571,5 C6.58254212,3.83480763 7.69378117,3 9,3 C10.3062188,3 11.4174579,3.83480763 11.8292943,5 L20,5 L20,7 L11.8292943,7 C11.4174579,8.16519237 10.3062188,9 9,9 C7.69378117,9 6.58254212,8.16519237 6.17070571,7 L4,7 L4,5 L6.17070571,5 Z M6.17070571,17 C6.58254212,15.8348076 7.69378117,15 9,15 C10.3062188,15 11.4174579,15.8348076 11.8292943,17 L20,17 L20,19 L11.8292943,19 C11.4174579,20.1651924 10.3062188,21 9,21 C7.69378117,21 6.58254212,20.1651924 6.17070571,19 L4,19 L4,17 L6.17070571,17 Z M12.1707057,11 C12.5825421,9.83480763 13.6937812,9 15,9 C16.3062188,9 17.4174579,9.83480763 17.8292943,11 L20,11 L20,13 L17.8292943,13 C17.4174579,14.1651924 16.3062188,15 15,15 C13.6937812,15 12.5825421,14.1651924 12.1707057,13 L4,13 L4,11 L12.1707057,11 Z M15,13 C15.5522847,13 16,12.5522847 16,12 C16,11.4477153 15.5522847,11 15,11 C14.4477153,11 14,11.4477153 14,12 C14,12.5522847 14.4477153,13 15,13 Z M9,19 C9.55228475,19 10,18.5522847 10,18 C10,17.4477153 9.55228475,17 9,17 C8.44771525,17 8,17.4477153 8,18 C8,18.5522847 8.44771525,19 9,19 Z M9,7 C9.55228475,7 10,6.55228475 10,6 C10,5.44771525 9.55228475,5 9,5 C8.44771525,5 8,5.44771525 8,6 C8,6.55228475 8.44771525,7 9,7 Z"/>
    </g>
  </svg>
  <span>{{ 'sections.collection_template.filter_button' | t }}</span>
</a>
<div class="collection__page-sidebar" id="sidebar">
  {% for block in section.blocks %}
    {% case block.type %}

    {% when 'menu' %}
      <div class="collection__sidebar-block" {{ block.shopify_attributes }}>
        <h4>{{ block.settings.heading }}</h4>

        {%- liquid

          assign unique_id = block.id | slice: 0, 7
          assign mobile_menu_allow_multiple = false

        -%}

        <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--collection-sidebar c-accordion--{{unique_id}}"
            id="c-accordion--{{unique_id}}"
            {% if mobile_menu_allow_multiple %}
            data-accordion-allow-multiple
            {% endif %} {{ block.shopify_attributes }}>

          {% for link in linklists[block.settings.side_nav].links %}

            {% assign level_one_nested_link_count = 0 %}

            {% if link.links != blank %}

              {%- liquid
                assign level_one_nested_link_count = level_one_nested_link_count | plus: 1
                assign level_one_link_index = forloop.index
                assign accordion_content_id = 'c-accordion__panel--' | append: unique_id | append: '-' | append: level_one_link_index
              -%}

              <li class="js-accordion-header c-accordion__header">
                <a class="js-accordion-link c-accordion__link" href="{{ link.url }}">{{ link.title | escape }}</a>
                <button class="dropdown-arrow" aria-label="{{  link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ accordion_content_id }}" >
                  {% render 'snip-icons',
                   wrapper: '.c-accordion__header',
                   type: 'apollo',
                   icon: 'down-carrot',
                   classes: 'c-accordion__header--icon vib-center',
                   size: '6px',
                   fill: 'var(--text-color)',
                   hover: 'var(--text-color)' %}
                </button>
              </li>

              <li class="c-accordion__panel {{ accordion_content_id }}" id="{{ accordion_content_id }}" data-parent="#c-accordion--{{ unique_id }}">

                {% assign level_two_unique_id = unique_id | append: '-' | append: level_one_nested_link_count %}

                <ul class="js-accordion js-accordion-mobile-nav c-accordion c-accordion--collection-sidebar c-accordion--mobile-nav__inner c-accordion--{{ level_two_unique_id }}" id="c-accordion--{{ level_two_unique_id }}">
                  {% for sub_link in link.links %}
                    {% if sub_link.links != blank %}

                      {%- liquid
                        assign level_two_link_index = forloop.index
                        assign level_two_accordion_content_id = 'c-accordion__panel--' | append: unique_id | append: '-' | append: level_one_link_index | append: '-' | append: level_two_link_index
                      -%}

                      <li class="js-accordion-header c-accordion__header">
                        <a class="js-accordion-link c-accordion__link" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                        <button class="dropdown-arrow" aria-label="{{  sub_link.title | escape }}" data-toggle="accordion" aria-expanded="false" aria-controls="{{ level_two_accordion_content_id }}" >
                          {% render 'snip-icons',
                           wrapper: '.c-accordion__header',
                           type: 'apollo',
                           icon: 'down-carrot',
                           classes: 'c-accordion__header--icon vib-center',
                           size: '6px',
                           fill: 'var(--text-color)',
                           hover: 'var(--text-color)' %}
                        </button>
                      </li>

                      <li class="c-accordion__panel {{ level_two_accordion_content_id }}" id="{{ level_two_accordion_content_id }}" data-parent="#c-accordion--{{ level_two_unique_id }}">
                        <ul>
                          {% for sub_sub_link in sub_link.links %}
                            <li>
                              <a class="js-accordion-link c-accordion__link" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% else %}
                      <li>
                        <a class="js-accordion-link c-accordion__link" href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li>
                <a class="js-accordion-link c-accordion__link" href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
            {% endif %}

          {% endfor %}
        </ul><!-- /.c-accordion.c-accordion--mobile-nav -->
      </div>
    {% when 'text' %}
      <div class="collection__sidebar-block" {{ block.shopify_attributes }}>
        <div class="textnote_container">
          {{ block.settings.sidebar_text }}
        </div>
      </div>
    {% when 'image' %}
      <div class="collection__sidebar-block" {{ block.shopify_attributes }}>
        <div class="image_container" {% if forloop.index == 1 %}style="margin-top:0;"{% endif %}>
          <a title="{{ block.settings.image.alt }}" href="{{ block.settings.link }}">
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | img_url: '450x' }}" alt="{{ block.settings.image.alt }}">
            {% else %}
              {{ 'collection-1' | placeholder_svg_tag }}
            {% endif %}
          </a>
        </div>
      </div>
    {% when 'side_filter' %}
      <div class="collection__sidebar-filters" {{ block.shopify_attributes }}>
        {%- for filter in collection.filters -%}

          {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
          {% case filter.type %}
          {% when 'list' %}
            {%- liquid

              assign is_size_filter = false
              assign is_color_filter = false
              assign filter_label_to_lowercase = filter.label | downcase

              assign color_swatches = false
              assign filter_count = false

              if block.settings.show_color_swatches
                assign color_swatches = true
              endif

              if block.settings.show_filter_count
                assign filter_count = true
              endif

              if filter_label_to_lowercase contains "color"
                assign is_color_filter = true
              elsif filter_label_to_lowercase contains "colour"
                assign is_color_filter = true
              elsif filter_label_to_lowercase contains "size"
                assign is_size_filter = true
              endif

              if is_color_filter and color_swatches
                assign filter_type = 'color'
              elsif is_size_filter
                assign filter_type = 'size'
              else
                assign filter_type = 'regular'
              endif

            -%}
            <div class="collection__sidebar-block sidebar-filter filter--{{ filter_type }}">
              <h4>{{ filter.label | escape }}</h4>
              <ul>
                {% for value in filter.values %}

                  {%- liquid

                    for product in collection.products
                      unless is_color_filter
                        continue
                      endunless

                      for option in product.options_with_values
                        assign option_name = option.name | downcase

                        unless option_name contains "color" or option_name contains "colour"
                          continue
                        endunless

                        assign variant_img_url = null
                        assign swatch_color_name = value.label | handleize | downcase | append: '.png'
                        assign swatch_image_url = swatch_color_name | file_url
                        assign css_color = value.label | split: ' ' | last | downcase

                        if images[swatch_color_name] != blank
                          assign bg_img = 'background-image:url(' | append:  swatch_image_url | append: ');'
                        else
                          assign bg_img = ''
                        endif
                        assign bg_color = 'background-color:' | append:  css_color | append: ';'

                      endfor
                    endfor

                    if value.active
                      assign status = 'current'
                      assign url = value.url_to_remove
                    elsif value.count == 0 and value.active == false
                      assign status = 'disabled'
                      assign url = ''
                    else
                      assign status = ''
                      assign url = value.url_to_add
                    endif
                  -%}

                  <li class="{{ status }}">
                    {% if is_color_filter and color_swatches %}
                      <a class="js-collection-side-filter {{ status }}" href="{{ url }}" title="{{ value.label }}">
                        <input type="checkbox"
                               name="{{ value.param_name }}"
                               value="{{ value.value }}"
                               {% if value.active %}checked{% endif %}
                               {% if value.count == 0 and value.active == false %}disabled{% endif%} >
                        <span class="color-filter color-filter--rounded color-filter--{{ status }} {{ status }}" style="{{ bg_color }}{{ bg_img }}"></span>
                        <span class="color-filter--label">{{ value.label | escape }}
                          {% if filter_count %}<span class="filter_count">({{ value.count }})</span>{% endif %}
                        </span>
                      </a>
                    {% else %}
                      <a class="js-collection-side-filter {{ status }}" data-tag="{{ url }}" href="{{ url }}">
                        <input type="checkbox"
                               name="{{ value.param_name }}"
                               value="{{ value.value }}"
                               {% if value.active %}checked{% endif %}
                               {% if value.count == 0 and value.active == false %}disabled{% endif%} >
                        <span class="regular-filter--label">{{ value.label | escape }}
                          {% if filter_count %}<span class="filter_count">({{ value.count }})</span>{% endif %}
                        </span>
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}

              </ul>
            </div>
          {% when 'price_range' %}
            {%- liquid
              assign currencies_using_comma_decimals = "ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND" | split: ','
              assign uses_comma_decimals = false

              if currencies_using_comma_decimals contains cart.currency.iso_code
                assign uses_comma_decimals = true
              endif
            -%}

            <div class="collection__sidebar-block sidebar-filter filter--price-range" data-collection-filters-price-range>
              <h4>{{ filter.label | escape }}</h4>
              <div class="filter-range__boxes js-price-range">
                <div class="filter-range__field">
                  <label class="filter-range__field__label visually-hidden" for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">{{ 'sections.collection_template.from' | t }}</label>
                  <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                  <input class="filter-range__field__input js-filter-range-input js-price-min-output"
                    name="{{ filter.min_value.param_name }}"
                    id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                    {%- if filter.min_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                      {% endif %}
                    {%- endif -%}
                    type="number"
                    placeholder="0"
                    min="0"
                    {%- if uses_comma_decimals -%}
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                    {% endif %}
                    >
                  </input>
                </div>
                <div class="filter-range__field">
                  <label class="filter-range__field__label visually-hidden" for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">{{ 'sections.collection_template.to' | t }}</label>
                  <span class="filter-range__field__currency">{{ cart.currency.symbol }}</span>
                  <input class="filter-range__field__input js-filter-range-input js-price-max-output"
                    name="{{ filter.max_value.param_name }}"
                    id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                    {%- if filter.max_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | round }}"
                      {% endif %}
                    {%- endif -%}
                    type="number"
                    min="0"
                    {%- if uses_comma_decimals -%}
                      placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round}}"
                    {% endif %}
                    >
                  </input>
                </div>

                <div class="filter-range__slider--wrapper">
                  <input class="filter-range__slider--input"
                    {%- if filter.min_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' | round }}"
                      {% endif %}
                    {%- else -%}
                      value="0"
                    {%- endif -%}
                    min="0"
                    {%- if uses_comma_decimals -%}
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                    {% endif %}
                    step="1.00"
                    type="range"/>
                  <input class="filter-range__slider--input"
                    {%- if filter.max_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | round }}"
                      {% endif %}
                    {%- else -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                      {%- else -%}
                        value="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                      {% endif %}
                    {%- endif -%}
                    min="0"
                    {%- if uses_comma_decimals -%}
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' | round }}"
                    {%- else -%}
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' | round }}"
                    {% endif %}
                    step="1.00"
                    type="range"/>
                </div>
              </div>
            </div>
          {% endcase %}
        {%- endfor -%}
      </div>
    {% when 'side_sortby' %}
      <div class="collection__page-sort collection__sidebar-block" data-collection-sort-by {{ block.shopify_attributes }}>
        <div class="collection__horizontal-toolbar sort-by__wrapper">
          <h4>{{ 'collections.sorting.title' | t }}</h4>
          <div class="collection__filtering js-hz-filter">
            {% render 'snip-icons',
               wrapper: '.collection__filtering',
               type: 'apollo',
               icon: 'double-arrows',
               classes: 'collection__filtering--icon',
               size: '15px',
               fill: 'var(--text-color)',
               hover: 'var(--text-color)' %}
            <input class="chosen-value js-hz-filter-input" type="text" value="" data-filter-type="sort-by" data-placeholder="{{ 'sections.collection_template.sort_by_placeholder' | t }}" data-generic-placeholder="{{ 'sections.collection_template.type_to_filter' | t }}" placeholder="{{ 'sections.collection_template.sort_by_placeholder' | t }}">
            <ul class="value-list js-hz-filter-list">
              {% for option in collection.sort_options %}
                {%- liquid

                  if option.value == collection.sort_by
                    assign status = 'current'
                  else
                    assign status = 'available'
                  endif
                -%}
              	{% if option.name contains 'Date' %}
              		{% continue %}
              	{% else %}
              		<li class="{{ status }}" data-placeholder="{{ option.name }}" data-option-value="{{ option.value }}">
                      <input type="checkbox"
                             name="sort_by"
                             value="{{ option.value | escape }}">
                      <span class="js-hz-filter-label">{{ option.name }}</span>
                    </li>
              	{% endif %}
                
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endcase %}
  {% endfor %}
</div>
