<div class="featured__product-heading span-12 auto" data-section-onboard>
  <h2 class="section-heading mb0">
    <a href="#">
      {{ section.settings.title }}
    </a>
  </h2>
</div>
<div class="featured-product-gallery span-6 sm-span-12 auto">
  <div class="onboard">
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  </div>
</div>

<div class="product__section-contentWrapper span-6 sm-span-12 auto">
  <div class="product__section-details">

    <div class="product__section--header product__section--element" {{ block.shopify_attributes }}>

      {% if settings.product_show_vendor %}
        <h3 class="product__vendor">Featured product vendor</h3>
      {% endif %}

      <h2 class="product__section-title product-title">Featued product title</h2>

      <div id="product-price" class="price product__price-container price--unit-available" data-price="">
        <div class="price__pricing-group">
          <dl class="price__regular">
            <dd>
              <span class="price-item price-item--regular" data-regular-price="">9.99</span>
            </dd>
          </dl>
        </div>
      </div>
    </div>

    {%- for block in section.blocks -%}
      {%- case block.type -%}

      {%- when 'product_variants' -%}
        <div class="product__form-container">
           {%- if settings.product_variants == 'swatches' -%}
             <div class="product__variants-swatches mt4 mb6 no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
               <div class="swatches__container js-variant-selector product__section--element" data-option-index="{{ option.position }}" data-other-options='{{ other_options | json }}'>
                 <p class="swatches__option-name h5"><strong>Variants</strong></p>
                 {%- for n in (1..4) -%}
                   {% capture radio_button %}
                     <input type="radio" id="{{ section.id }}-{{ n }}-{{ forloop.index0 }}"
                         class="swatches__form--input"
                         name="Variants"
                         value="{{ n | escape }}"
                         form="product-form-{{ section.id }}"
                         data-position="1"
                         {{ checked }}>
                   {% endcapture %}
                   {% capture regular_swatch %}
                     <div class="swatches__swatch--regular swatch-element js-swatch-element">
                       {{ radio_button }}
                       <label class="swatches__form--label" for="{{ section.id }}-{{ n }}-{{ forloop.index0 }}" tabindex="0">
                         {{ n }}
                       </label>
                     </div>
                   {% endcapture %}

                   {{ regular_swatch }}
                 {%- endfor -%}
               </div>
             </div>
           {%- else -%}
             <div class="product__variants-select no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
               <div class="product-form__input product-form__input--dropdown product__section--element">
                 <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                   Variants
                 </label>
                 <div class="select">
                   <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                     class="js-variant-selector styled-select"
                     name="Variants"
                     form="product-form-{{ section.id }}"
                   >
                     {%- for n in (1..4) -%}
                       <option value="{{ value | escape }}">
                         {{ n }}
                       </option>
                     {%- endfor -%}
                   </select>
                 </div>
               </div>
             </div>
           {%- endif -%}
         </div>

      {%- when 'product_availability' -%}
        <div class="product-single__store-availability-container product__section--element" {{ block.shopify_attributes }} data-store-availability-container>
            <div class="store-availability-container">
              <div class="store-availability-information">
                <div class="store-availability-information-container">
                  <p class="store-availability-information__title">
                    <svg class="testament--apollo-checkmark store-availability-list__stock--icon vib-center" height="9px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25.7 20" xml:space="preserve">
                      <g class="hover-fill" fill="var(--text-color)">
                        <polygon points="8.2,15.8 2,9.6 0,11.6 8.2,20 25.7,2.1 23.7,0 "></polygon>
                      </g>
                      <style>.store-availability-list__stock .testament--apollo-checkmark:hover .hover-fill { fill: var(--text-color);}</style>
                    </svg>
                    <span class="vib-center">Pickup available</span>
                  </p>
                  <p class="store-availability-information__stock">
                    Usually ready in 1 hour
                  </p>
                </div>
              </div>
            </div>
          </div>

      {%- when 'product_quantity' -%}
        <div class="product__section--qty qty-selection product__section--element" data-product-qty {{ block.shopify_attributes }}>
          <label for="qty-{{ product.id }}" class="h5">{{ 'products.product.quantity' | t }}</label>
          <div class="product__quantity--wrapper">
            <a class="down quantity-control-down" field="quantity">-</a>
              <input id="qty-{{ product.id }}" min="1" type="text" name="quantity" class="formQty quantity" value="1" />
            <a class="up quantity-control-up" field="quantity">+</a>
          </div>
        </div>

      {%- when 'product_sku' -%}
        <div class="product__section--sku sku product__section--element" {{ block.shopify_attributes }}>
          <label for="variantSku">{{ 'customer.order.details.sku' | t }}:</label>
          <span id="variantSku" class="variant_sku">ABC-001</span>
        </div>

      {%- when 'text_content' -%}
        {% if block.settings.text != blank %}
          <div class="product__section--text product__section--element rte" {{ block.shopify_attributes }}>
            {{ block.settings.text }}
          </div>
        {% endif %}

      {%- when 'text_popup' -%}
        {% if block.settings.text != blank and block.settings.popup_trigger != blank %}
          <div class="product__section--popup product__section--element{% if block.settings.show_inline %} inline{% endif %}" {{ block.shopify_attributes }}>
            <button class="product__contact-trigger button-as-link js-modal-open js-contact-trigger" type="button" name="button" data-wau-modal-target="popup-content" >{{ block.settings.popup_trigger }}</button>
            <div data-wau-modal-content="popup-content" style="display: none">
              {{ block.settings.text }}
            </div>
          </div>
        {% endif %}

      {% when 'stock_levels' %}
        <div class="product__section-stockLevels" {{ block.shopify_attributes }}>
          {% if block.settings.threshold > 0 %}
            {%- liquid
              assign show_hidden_class = true
            -%}
            {% capture variant_stock_levels_classes %}
              variant-stock-levels js-variant-stock-levels variant-stock-levels--{{ section.id }} {% unless show_hidden_class %}visually-hidden{% endunless %}
            {% endcapture %}

            <div
              id="variant-stock-levels--{{ section.id }}"
              class="{{ variant_stock_levels_classes | strip }}"
              data-stock-level-threshold="{{ block.settings.threshold }}"
            >
              <div class="variant-stock-levels__inner product__section--element">
                <span class="pulse__icon"></span>
                <span class="js-variant-stock-levels__message">
                  {{ 'products.product.only_left' | t: count: 3 }}
                </span>
              </div><!-- /.variant-stock-levels__inner -->
            </div><!-- /#variant-stock-levels -->
          {% endif %}
        </div>

      {%- when 'product_buttons' -%}
        <div class="product__section--buttons product-add product__section--element" {{ block.shopify_attributes }}>
            {%- liquid

              assign call_to_action = 'products.product.add_to_cart' | t
              unless current_variant.available
                assign call_to_action = 'products.product.sold_out' | t
              endunless

            -%}

            <input
              id="addToCart"
              type="submit"
              name="button"
              class="add clearfix AddtoCart js-ajax-submit"
              value="{{ call_to_action }}"
              disabled />

        </div>

      {%- when 'product_description' -%}
        <div class="product__section--desc product__decription-container rte product__section--element" {{ block.shopify_attributes }}>

          <div class="product__description--base">
            A sample product description for a featured product.
          </div>
        </div>

      {%- when 'line_item_property' -%}

        <div class="product__line-item product__section--element">
          {% if block.settings.property_type == 'text' %}
          <p class="line-item-property__field">
            <label for="{{ block.settings.title | handleize }}">{{ block.settings.title }}:</label>
            <input id="{{ block.settings.title | handleize }}"
             type="text"
             {% if block.settings.required %}required{% endif %}
             data-product-property
             name="properties[{{ block.settings.title }}]"
             data-property-id="{{ block.id }}"
             value="">
          </p>
          {% elsif block.settings.property_type == 'multi_line_text' %}
          <p class="line-item-property__field">
            <label for="{{ block.settings.title | handleize }}e">{{ block.settings.title }}:</label>
            <textarea id="{{ block.settings.title | handleize }}"
             {% if block.settings.required %}required{% endif %}
             data-product-property
             name="properties[{{ block.settings.title }}]"
             data-property-id="{{ block.id }}"
             ></textarea>
          </p>
          {% endif %}
        </div>

      {%- when 'rating' -%}
          <div class="product__section--rating-wrapper product__section--element">
            <div class="product__section-rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: 5, rating_max: 5 }}">
              <span
                aria-hidden="true"
                class="product__section-rating-star color-icon"
                style="--rating: 5; --rating-max: 5.0; --rating-decimal: 0">
              </span>
            </div>
            <p class="product__section-rating-text caption">
              <span aria-hidden="true">5.0 / 5.0</span>
            </p>
            <p class="product__section-rating-count caption">
              <span aria-hidden="true">(1)</span>
              <span class="visually-hidden">1 {{ "accessibility.total_reviews" | t }}</span>
            </p>
          </div>

      {%- when 'share' -%}
        <div class="product__section--share product__share-container product__section--element" {{ block.shopify_attributes }}>
          {% render 'social' with product %}
        </div>

      {% when '@app' %}
        <div class="product__section--app product__section--element">
          {% render block %}
        </div>

      {%- endcase -%}
    {%- endfor -%}

  </div>
  <div class="clear"></div>
</div>
