<div id="pagination" class="pagination span-12 auto">

  <span class="count">
    {{ 'general.pagination.showing_items' | t }} {{ paginate.current_offset | plus: 1 }}-{% if paginate.next %}{{ paginate.current_offset | plus: paginate.page_size }}{% else %}{{ paginate.items }}{% endif %} {{ 'general.pagination.of' | t }} {{ paginate.items }}.
  </span>
  <div class="clear"></div>

  {% if paginate.previous %}
    <a href="{{ paginate.previous.url }}" class="paginate_prev">
      {% render 'snip-icons',
         wrapper: '.pagination',
         type: 'apollo',
         icon: 'left-carrot',
         classes: 'pagination--icon vib-center',
         size: '10px',
         fill: 'var(--link-color)',
         hover: 'var(--link-color)' %}
    </a>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      {{ part.title | link_to: part.url }}
    {% else %}
      {% if part.title == '&hellip;' %}
        <span class="more">{{ part.title }}</span>
      {% else %}
        <span class="current">{{ part.title }}</span>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <a href="{{ paginate.next.url }}" class="paginate_next">
      {% render 'snip-icons',
       wrapper: '.pagination',
       type: 'apollo',
       icon: 'right-carrot',
       classes: 'pagination--icon vib-center',
       size: '10px',
       fill: 'var(--link-color)',
       hover: 'var(--link-color)' %}
    </a>
  {% endif %}
</div>
