{%- liquid

  assign call_to_action = 'products.product.add_to_cart' | t
  unless current_variant.available
    assign call_to_action = 'products.product.sold_out' | t
  endunless

  assign product_form_id = 'product-form-' | append: section.id

-%}

{% form 'product', product,
   id: product_form_id,
   class: "product__form-container product_form relative",
   data-product-form: product_form_config,
   data-product-id: product.id %}

  {%- if template == 'product.quick' -%}
    {% render 'product-price', variant: current_variant, product: product %}

    <div class="spi-banner">
      {{ form | payment_terms }}
    </div><!-- /#spi-banner -->
  {%- endif -%}

  {%- unless product.has_only_default_variant -%}
   {%- if settings.product_variants == 'swatches' -%}
     <div class="product__variants-swatches mt4 mb6 no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
       {% for option in product.options_with_values %}
         {% render "swatch",
           option: option,
           current_variant: current_variant,
           product: product,
           show_color_swatches: settings.show_color_swatches,
           color_swatch_shape: settings.color_swatch_shape,
           color_swatch_style: settings.color_swatch_style %}
       {% endfor %}
     </div>
   {%- else -%}
     <div class="product__variants-select no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
       {%- for option in product.options_with_values -%}
         <div class="product-form__input product-form__input--dropdown">
           <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
             {{ option.name }}
           </label>
           <div class="select">
             <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
               class="js-variant-selector styled-select"
               name="options[{{ option.name | escape }}]"
               form="product-form-{{ section.id }}"
             >
               {%- for value in option.values -%}
                 <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                   {{ value }}
                 </option>
               {%- endfor -%}
             </select>
           </div>
         </div>
       {%- endfor -%}
     </div>
   {%- endif -%}
  {%- endunless -%}

  <noscript class="product__variants-select product-form__noscript-wrapper-{{ section.id }}">
    <div class="product-form__input product-form__input--dropdown{% if product.has_only_default_variant %} hidden{% endif %}">
      <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.select_option' | t }}</label>
      <div class="select">
        <select name="id" id="Variants-{{ section.id }}" class="styled-select">
          {%- for variant in product.variants -%}
            <option
              {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
              {% if variant.available == false %}disabled{% endif %}
              value="{{ variant.id }}"
            >
              {{ variant.title }}
              {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
              - {{ variant.price | money | strip_html }}
            </option>
          {%- endfor -%}
        </select>
      </div>
    </div>
  </noscript>

  {% if settings.product_show_sku %}
    <div class="product__sku-container sku js-product-sku-container{% if current_variant.sku == blank %} hide{% endif %}">
      <span class="product__sku-label">{{ 'customer.order.details.sku' | t }}</span>
      <span class="product__sku-value js-product-sku">{{ current_variant.sku }}</span>
    </div><div class="clear"></div>
  {% endif %}

  {% if settings.product_show_quantity %}
    <div class="product__quantity-wrapper">
      <label class="product__quantity-label" for="quantity">{{ 'products.product.quantity' | t }}</label>
      <input class="product__quantity-input" min="1" type="number" id="quantity" name="quantity" value="1" />
    </div>
  {% endif %}

  <div id="product-add" class="product__add-container">
    <input id="formVariantId" name="" type="hidden" value="{{ product.selected_or_first_available_variant.id }}">
    {% if settings.product_show_payment_button %}<div class="clear"></div>{% endif %}

    <div class="note note-success mt3 js-added-msg" style="display: none">
      <b>{{ 'products.product.added' | t }}</b>&nbsp;&nbsp;&nbsp;<a class="underline" href="{{ routes.cart_url }}">{{ 'products.product.view_cart' | t }}</a> {{ 'products.product.or' | t }} <a class="underline" href="{{ routes.all_products_collection_url }}">{{ 'products.product.continue' | t }}</a>.
    </div>

    <div class="note note-error js-error-msg" style="display: none">
      <b>{{ 'cart.general.cart_error' | t }}</b>&nbsp;&nbsp;&nbsp;{{ 'cart.general.update_qty_error' | t }}
    </div>

    <input id="addToCart" type="submit" name="button" class="product__add-button add AddtoCart js-ajax-submit {% if settings.product_show_payment_button %} secondary-button{% endif %}" value="{{ call_to_action }}" {% unless current_variant.available %}disabled{% endunless %} />

    {% if settings.product_show_payment_button %}
     {{ form | payment_button }}
    {% endif %}
  </div>
  <div class="clear"></div>
{% endform %}
