{%- liquid

  case settings.product_image_size
    when 'natural'
      assign aspect_ratio = 'natural'
    when 'square'
      assign aspect_ratio = 'square'
    when 'landscape'
      assign aspect_ratio = 'landscape'
    when 'portrait'
      assign aspect_ratio = 'portrait'
  endcase

-%}

<div class="prod-container">
  {% if product.available %}
   {% for col in product.collections %}
     {% if col.handle == 'new' %}
      <div class="new icn">{{ 'products.general.new' | t }}</div>
     {% endif %}
   {% endfor %}
     {% if product.price < product.compare_at_price %}
      <div class="sale-item sale-item--{{ settings.sale_items }} icn">
        {% case settings.sale_items %}
          {% when 'percentage' %}
            {% assign discount = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price %}
            {% assign discount = discount | round | append: '%' %}
            {{ 'products.general.savings' | t: savings: discount }}
          {% when 'amount' %}
            {% assign discount = product.compare_at_price | minus: product.price | money %}
            {{ 'products.general.savings' | t: savings: discount }}
          {% when 'icon' %}
            {{ 'products.general.sale' | t }}
        {% endcase %}
      </div>
     {% endif %}
   {% else %}
    <div class="so icn">{{ 'products.general.sold' | t }}</div>
   {% endif %}

   <div class="prod-image image_{{ aspect_ratio }}">
     <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
       <div class="reveal">
        {%- if product.media.size < 1 -%}
          <div class="box-ratio" style="padding-bottom: 100%;">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {% else %}

        {% if product.featured_media.media_type == 'video' or
            product.featured_media.media_type == 'external_video' %}
        {% if settings.product_grid_video %}
          {% render 'product-loop-video', product: product %}
        {% endif %}
        {% render "basic-responsive-image", type: product.featured_media.preview_image, data_widths: '[180, 360, 540, 720, 900, 1080]' %}
        <noscript>
          <img src="{{ product.featured_media.preview_image | img_url: '1024x' }}" alt="{{ product.featured_media.preview_image.alt | escape }}">
        </noscript>
      {% else %}


          {%- liquid

          assign preview_image = product.featured_media.preview_image
          assign second_image = product.media[1]

          if settings.secondary_images_hover and product.media.size > 1
          assign is_first = 'first-image'
          endif

          for filter in collection.filters
            for fil in filter.active_values

              for variant in product.variants
                assign vTitle = variant.title | downcase
                assign fTitle = fil.label | downcase
                if vTitle contains fTitle
                  assign var_img_url = variant.image
                endif
              endfor
            endfor
          endfor
          -%}

          {%- if var_img_url != blank -%}
            {%- liquid
              assign image_box_ratio = var_img_url.height | append: ".0" | times: 1 | divided_by: var_img_url.width | times: 100 | append: "%"
              assign img_url = var_img_url | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
            -%}

            <div class="box-ratio" style="padding-bottom: {{ image_box_ratio }};">
              <img class="lazyload lazyload-fade {{ is_first }}"
                id="{{ var_img_url.id }}"
                data-src="{{ img_url }}"
                data-sizes="auto"
                data-original="{{ type | img_url: '500x' }}"
                data-widths="[180, 360, 540, 720]"
                alt="{{ var_img_url.alt | escape }}">
            </div>
          {%- else -%}
            {% render 'basic-responsive-image',
            type: product.featured_media.preview_image,
            data_widths: '[180, 360, 540, 720]',
            is_first: is_first %}
          {%- endif -%}

          <noscript>
          <img src="{{ preview_image | img_url: '500x' }}" alt="{{ preview_image.alt | escape }}">
          </noscript>
      {% endif %}
          {% if
            settings.secondary_images_hover and
            product.media.size > 1 and
            second_image.media_type == 'image'
           %}
          <div class="hidden">
           {% render 'basic-responsive-image', type: product.media[1], data_widths: '[180, 360, 540]' %}
           <noscript>
             <img src="{{ product.media[1] | img_url: '500x' }}" alt="{{ product.media[1].alt | escape }}">
           </noscript>
          </div>
          {% elsif
            settings.secondary_images_hover and
            product.media.size > 1 and
            second_image.media_type != 'image'
           %}
          <div class="hidden">
           {% render 'basic-responsive-image', type: product.media[1].preview_image, data_widths: '[180, 360, 540]' %}
           <noscript>
             <img src="{{ product.media[1].preview_image | img_url: '500x' }}" alt="{{ product.media[1].preview_image.alt | escape }}">
           </noscript>
          </div>
          {% endif %}
        {%- endif -%}
       </div>
     </a>
   </div>
</div>

<div class="product-info">
  <a href="{{ product.url | within: collection }}">
    {% if settings.vendor %}
      <p class="product__vendor">{{ product.vendor }}</p>
    {% endif %}
    <h2>{{ product.title }}</h2>
  </a>
  {%- if settings.show_rating and product.metafields.reviews.rating.value != blank -%}
    <div class="product__section--rating-wrapper">
      {% liquid
        assign rating_decimal = 0
        assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
        if decimal >= 0.3 and decimal <= 0.7
          assign rating_decimal = 0.5
        elsif decimal > 0.7
          assign rating_decimal = 1
        endif
      %}
      <div class="product__section-rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
        <span aria-hidden="true" class="product__section-rating-star color-icon" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
      </div>
      <p class="product__section-rating-text caption">
        <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
      </p>
      <p class="product__section-rating-count caption">
        <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
        <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
      </p>
    </div>
  {%- endif -%}
  {% render 'product-price-listing', product: product %}
</div>

{% if settings.show_collection_swatches %}
  <div class="prod-colors">
    {% render 'product-listing-swatches',
      product: product,
      color_swatch_style: settings.color_swatch_style %}
  </div>
{% endif %}

{% if settings.show_collection_sizes %}
  <div class="prod-sizes">
    {% render 'product-listing-sizes',
      product: product
    %}
  </div>
{% endif %}

{% if settings.quickview %}
  <button class="quick-view-{{ product.id }} product-listing__quickview-trigger js-modal-open js-quickview-trigger"
    type="button"
    name="button"
    data-wau-modal-target="quickview"
    data-product-url="{{ product.url }}?view=quick">{{ 'products.general.quick_view' | t }}</button>
{% endif %}
