{%- liquid
  assign grid = section.settings.grid

  if section.settings.carousel
    assign is_carousel = true
  endif

  assign enough_to_wrap = true
  if section.blocks.size <= grid
    assign enough_to_wrap = false
  endif

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  assign image_shape = false
  unless section.settings.image_ratio == 'natural'
    assign image_shape = true
  endunless

  case grid
    when 2
    assign prod_grid = 50
    when 3
    assign prod_grid = 33.333
    when 4
    assign prod_grid = 25
    when 5
    assign prod_grid = 20
    when 6
    assign prod_grid = 16.6667
  endcase

  assign floating_text = false
  if section.settings.title_position == 'floating'
    assign floating_text = true
  endif

-%}

{% capture slideshow_config %}{
  "wrapAround":{{ enough_to_wrap }},
  "cellAlign": "left",
  "dragThreshold":"15",
  "draggable": {{ enough_to_wrap }},
  "pauseAutoPlayOnHover":false,
  "prevNextButtons":{{ enough_to_wrap }},
  "pageDots": false
}{% endcapture %}

<section class="global__section section-{{ section.id }} {{ section_padding }}"
data-section-id="{{ section.id }}"
data-aos="fade"
data-section-type="collection-list">
  <div class="row grid__wrapper">
    {% if section.settings.title != blank %}
      <div class="span-12 auto">
        <h2 class="section-heading mb0">{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    <div class="collection-loop collection__list-collections collection__list-text-floating--{{ floating_text }} collection__list-img-shape--{{ image_shape }} collection__list-ratio--{{ section.settings.image_ratio }} collection__list-grid--{{ grid }} {% if is_carousel %}collection__list-carousel flickity__section js-list-carousel{% endif %} span-12 auto"{% if is_carousel %} data-flickity='{{ slideshow_config }}'{% endif %}>
      {% for block in section.blocks limit: section.blocks.size %}
        {%- assign collection = collections[block.settings.collection] -%}
        {% if collection == blank %}
          <div class="collection__list-item">
            <div class="collection__item-image">
              {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              {%- assign placeholder = 'collection-' | append: current -%}
              <div class="collection-image ci onboard {% unless section.settings.image_ratio == 'natural' %}box-ratio{% endunless %}">
                <a href="#" title="Collection image">
                  {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
              </div>
            </div>
            <div class="collection__item-details">
              <h3 class="prod-title h4">Sample collection</h3>
              {%- if section.settings.collection_count -%}
                <p class="mb0">{{ forloop.index }} items</p>
              {%- endif -%}
            </div>
          </div>
        {% else %}
          {% render 'collection-grid-item',
            collection: collection,
            grid_item_width: grid_item_width,
            floating_text: floating_text,
            block_image: block.settings.collection_image %}
        {% endif %}
      {% endfor %}

      {% if section.blocks.size == 0 %}
        {% render 'no-blocks' %}
      {% endif %}
      <style>
        {% if is_carousel %}
          .section-{{ section.id }} .collection__list-collections {
            display: block;
          }
          .section-{{ section.id }} .collection__list-collections .collection__list-item {
            width: {{ prod_grid }}%;
            padding: 0 15px;
          }
          @media screen and (max-width: 740px) {
            .section-{{ section.id }} .collection__list-collections .collection__list-item {
              width: 50%;
              padding: 0 15px;
            }
          }
        {% else %}
          .section-{{ section.id }} .collection__list-collections {
            grid-template-columns: repeat({{ grid }}, 1fr);
          }
          @media screen and (max-width: 740px) {
            .section-{{ section.id }} .collection__list-collections {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        {% endif %}
      </style>
  </div>
</section>
<div class="clear"></div>
{% schema %}
{
  "name": "Collection list",
  "max_blocks": 12,
  "settings": [{
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 6,
      "step": 1,
      "label": "Collections per row",
      "default": 4
    },
    {
      "id": "carousel",
      "type": "checkbox",
      "label": "Display in carousel",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "collection_count",
      "label": "Show product count",
      "default": true
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "Text position",
      "options": [
        {
          "value": "floating",
          "label": "Floating"
        },
        {
          "value": "below_image",
          "label": "Below image"
        }
      ],
      "default": "below_image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image ratio",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "vertical",
          "label": "Vertical"
        },
        {
          "value": "horizontal",
          "label": "Horizontal"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "hexagon",
          "label": "Hexagon"
        },
        {
          "value": "rhombus",
          "label": "Rhombus"
        }
      ],
      "default": "circle"
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    }
  ],
  "blocks": [{
    "type": "featured_collection",
    "name": "Collection",
    "settings": [
      {
        "label": "Collection",
        "id": "collection",
        "type": "collection"
      },
      {
        "type": "image_picker",
        "id": "collection_image",
        "label": "Custom image",
        "info": "Will override collection image"
      }
    ]
  }],
  "presets": [{
    "name": "Collection list",
    "blocks": [{
        "type": "featured_collection"
      },
      {
        "type": "featured_collection"
      },
      {
        "type": "featured_collection"
      },
      {
        "type": "featured_collection"
      }
    ]
  }],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search", "customers/account"]
}
{% endschema %}
