{%- liquid

  assign product = all_products[section.settings.featured_product]
  assign current_variant = product.selected_or_first_available_variant

  if product == empty
    assign section_onboarding = true
  endif

  assign thumbnail_position = section.settings.thumbnail_position
  assign click_to_enlarge = section.settings.click_to_enlarge
  assign enable_video_looping = section.settings.enable_video_looping

  assign tabs_active = false
  for block in section.blocks
    if block.type == 'tab_content' or block.type == 'tab_question'
      assign tabs_active = true
      break
    endif
  endfor

-%}

<section
id="section-{{ section.id }}"
class="global__section featured-product product-{{ product.id }} product__section product-template"
data-product-id="{{ product.id }}"
data-section-id="{{ section.id }}"
data-url="{{ product.url }}"
data-section-type="product__section"
data-product-type="featured"
data-sale-format="{{ settings.sale_items }}"
data-initial-variant="{{ current_variant.featured_media.id }}"
data-aos="fade">

<div class="row grid__wrapper featured__product-container">

  {% if section_onboarding %}
    {% render 'onboard-single-product', tabs_active: tabs_active %}
  {% else %}

    <div class="featured__product-heading span-12 auto">
      <h2 class="section-heading text-center">
        <a href="{{ product.url }}">
          {{ section.settings.title }}
        </a>
      </h2>
    </div>

    {% render 'product-json'
    product: product %}

    {% capture product_gallery_config %}{
      "thumbPosition": {{ section.settings.thumbnail_position | json }},
      "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
      "mainSlider": {% if product.media.size <= 1 %}false{% else %}true{% endif %},
      "thumbSlider": {% if product.media.size >= 4 %}true{% else %}false{% endif %},
      "productId": {{ product.id | json }},
      "thumbsShown": 4,
      "clickToEnlarge": {{ click_to_enlarge | json }},
      "isQuick": false
   }{% endcapture %}

   {% capture product_form_config %}
     { "money_format": {{ shop.money_format | json }},
       "enable_history": true,
       "sold_out": {{ "products.product.sold_out" | t | json }},
       "button": {{ 'products.product.add_to_cart' | t | json }},
       "unavailable": {{ 'products.product.unavailable' | t | json }},
       "savings": {{ 'products.general.savings' | t | json }},
       "only_left": {
         "one": {{ 'products.product.only_left.one' | t | json }},
         "other": {{ 'products.product.only_left.other' | t | json }}
       },
       "quickview": {% if template == 'product.quick' %}true{% else %}false{% endif %},
       "featured_product": false,
       "swatches": {{ settings.product_variants | json }}
     }
   {% endcapture %}


    <div class="product__section-images carousel-container js-product-gallery span-6 sm-span-12 auto"
      data-product-gallery
      data-product-single-media-group
      data-gallery-config='{{ product_gallery_config }}'>

      {%- if product.featured_media -%}

        {% render 'product-image-gallery',
        product: product,
        thumbnail_position: thumbnail_position,
        click_to_enlarge: click_to_enlarge,
        enable_video_looping: enable_video_looping,
        product_gallery_config: product_gallery_config %}

      {%- else -%}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        <div class="span-12">
          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {%- endif -%}
    </div>

    <div class="product__section-contentWrapper span-6 sm-span-12 auto">
      <div class="product__section-content">
        <div class="product__section-details">

          <div class="product__section--header product__section--element" {{ block.shopify_attributes }}>

            {% if settings.product_show_vendor %}
              <h3 class="product__vendor">{{ product.vendor }}</h3>
            {% endif %}

            <h2 class="product__section-title product-title">{{ product.title }}</h2>

            {% render 'product-price', variant: current_variant, product: product %}

            {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
              <div class="product__policies rte" data-product-policies>
                {%- if cart.taxes_included -%}
                  {{ 'products.product.include_taxes' | t }}
                {%- endif -%}
                {%- if shop.shipping_policy.body != blank -%}
                  {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- form 'product', product, id: 'product-form-installment' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              <select style="display:none;" name='id'>
                {% for variant in product.variants %}
                  <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}></option>
                {% endfor %}
              </select>
              <div class="spi-banner">
                {{ form | payment_terms }}
              </div><!-- /#spi-banner -->
            {%- endform -%}
          </div>

          {%- for block in section.blocks -%}
            {%- case block.type -%}
            {%- when 'product_variants' -%}
              {%- assign product_form_id = 'product-form-' | append: section.id -%}
              {% form 'product', product,
                 id: product_form_id,
                 class: "product__form-container product_form relative",
                 data-product-form: product_form_config,
                 data-product-id: product.id %}

                {%- unless product.has_only_default_variant -%}
                 {%- if settings.product_variants == 'swatches' -%}
                   <div class="product__variants-swatches mt4 mb6 no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                     {% for option in product.options_with_values %}
                       {% render "swatch",
                         option: option,
                         current_variant: current_variant,
                         product: product,
                         show_color_swatches: settings.show_color_swatches,
                         color_swatch_shape: settings.color_swatch_shape,
                         color_swatch_style: settings.color_swatch_style %}
                     {% endfor %}
                   </div>
                 {%- else -%}
                   <div class="product__variants-select no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}">
                     {%- for option in product.options_with_values -%}
                       <div class="product-form__input product-form__input--dropdown product__section--element">
                         <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                           {{ option.name }}
                         </label>
                         <div class="select">
                           <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                             class="js-variant-selector styled-select"
                             name="options[{{ option.name | escape }}]"
                             form="product-form-{{ section.id }}"
                           >
                             {%- for value in option.values -%}
                               <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                                 {{ value }}
                               </option>
                             {%- endfor -%}
                           </select>
                         </div>
                       </div>
                     {%- endfor -%}
                   </div>
                 {%- endif -%}
                {%- endunless -%}

                <noscript class="product__variants-select product-form__noscript-wrapper-{{ section.id }}">
                  <div class="product-form__input product-form__input--dropdown{% if product.has_only_default_variant %} hidden{% endif %} product__section--element">
                    <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.select_option' | t }}</label>
                    <div class="select">
                      <select name="id" id="Variants-{{ section.id }}" class="styled-select">
                        {%- for variant in product.variants -%}
                          <option
                            {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                            {% if variant.available == false %}disabled{% endif %}
                            value="{{ variant.id }}"
                          >
                            {{ variant.title }}
                            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                            - {{ variant.price | money | strip_html }}
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                  </div>
                </noscript>

                <input class="formVariantId" name="" type="hidden" value="{{ product.selected_or_first_available_variant.id }}">
              {% endform %}

            {%- when 'product_availability' -%}
              <div class="product-single__store-availability-container product__section--element"
                data-variant-id="{{ current_variant.id }}"
                data-product-title="{{ product.title | escape }}"
                style="visibility:hidden; min-height: 120px;" data-store-availability-container>
              </div>

            {%- when 'product_quantity' -%}
              <div class="product__section--qty qty-selection product__section--element" data-product-qty {{ block.shopify_attributes }}>
                <label for="qty-{{ product.id }}" class="h5">{{ 'products.product.quantity' | t }}</label>
                <div class="product__quantity--wrapper">
                  <a class="down quantity-control-down" field="quantity">-</a>
                    <input id="qty-{{ product.id }}" min="1" type="text" name="quantity" class="formQty quantity" value="1" />
                  <a class="up quantity-control-up" field="quantity">+</a>
                </div>
              </div>

            {%- when 'product_sku' -%}
              <div class="product__section--sku sku product__section--element" {{ block.shopify_attributes }}>
                <label for="variantSku">{{ 'customer.order.details.sku' | t }}:</label>
                <span id="variantSku" class="variant_sku">{{ current_variant.sku }}</span>
              </div>

            {%- when 'text_content' -%}
              {% if block.settings.text != blank %}
                <div class="product__section--text product__section--element rte" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              {% endif %}

            {%- when 'text_popup' -%}
              {% if block.settings.text != blank and block.settings.popup_trigger != blank %}
                <div class="product__section--popup product__section--element{% if block.settings.show_inline %} inline{% endif %}" {{ block.shopify_attributes }}>
                  <button class="product__contact-trigger button-as-link js-modal-open js-contact-trigger" type="button" name="button" data-wau-modal-target="popup-content" >{{ block.settings.popup_trigger }}</button>
                  <div data-wau-modal-content="popup-content" style="display: none">
                    {{ block.settings.text }}
                  </div>
                </div>
              {% endif %}

            {% when 'stock_levels' %}
              <div class="product__section-stockLevels" {{ block.shopify_attributes }}>
                {% if block.settings.threshold > 0 %}
                  {%- liquid
                    assign show_hidden_class = false
                    if current_variant.inventory_management and current_variant.inventory_quantity < block.settings.threshold and current_variant.inventory_quantity > 0
                      assign show_hidden_class = true
                    endif
                  -%}
                  {% capture variant_stock_levels_classes %}
                    variant-stock-levels js-variant-stock-levels variant-stock-levels--{{ section.id }} {% unless show_hidden_class %}visually-hidden{% endunless %}
                  {% endcapture %}

                  <div
                    id="variant-stock-levels--{{ section.id }}"
                    class="{{ variant_stock_levels_classes | strip }}"
                    data-stock-level-threshold="{{ block.settings.threshold }}"
                  >
                    <div class="variant-stock-levels__inner product__section--element">
                      <span class="pulse__icon"></span>
                      <span class="js-variant-stock-levels__message">
                        {{ 'products.product.only_left' | t: count: current_variant.inventory_quantity }}
                      </span>
                    </div><!-- /.variant-stock-levels__inner -->
                  </div><!-- /#variant-stock-levels -->
                {% endif %}
              </div>

            {%- when 'product_buttons' -%}
              <div class="product__section--buttons product-add product__section--element" {{ block.shopify_attributes }}>
                {%- assign product_form_id = 'product-form-buttons-' | append: section.id -%}
                {% form 'product', product,
                   id: product_form_id,
                   class: "product__form-buttons js-prod-form-submit relative",
                   data-product-id: product.id %}

                  {%- liquid

                    assign call_to_action = 'products.product.add_to_cart' | t
                    unless current_variant.available
                      assign call_to_action = 'products.product.sold_out' | t
                    endunless

                    assign product_form_id = 'product-form-' | append: section.id

                  -%}

                  <input class="formVariantId" name="id" type="hidden" value="{{ product.selected_or_first_available_variant.id }}">
                  <input class="formQty" type="hidden" name="quantity" value="1" />
                  <div class="note note-success js-added-msg" style="display: none">
                    <b>{{ 'products.product.added' | t }}</b>&nbsp;&nbsp;&nbsp;<a class="underline" href="{{ routes.cart_url }}">{{ 'products.product.view_cart' | t }}</a> {{ 'products.product.or' | t }} <a class="underline" href="{{ routes.all_products_collection_url }}">{{ 'products.product.continue' | t }}</a>.
                  </div>
                  <div class="note note-error js-error-msg" style="display: none">
                    <b>{{ 'cart.general.cart_error' | t }}</b>&nbsp;&nbsp;&nbsp;{{ 'cart.general.update_qty_error' | t }}
                  </div>

                  <input id="addToCart" type="submit" name="button" class="add clearfix AddtoCart js-ajax-submit {% if settings.show_payment_button and product.selling_plan_groups.size == 0 %} secondary-button{% endif %}" value="{{ call_to_action }}" {% unless current_variant.available %}disabled{% endunless %} />

                  {% if settings.show_payment_button %}
                   {{ form | payment_button }}
                  {% endif %}
                {%-  endform -%}
              </div>

            {%- when 'product_description' -%}
              <div class="product__section--desc product__decription-container rte product__section--element" {{ block.shopify_attributes }}>

                <div class="product__description--base {% if tabs_active %}hide{% endif %}">
                  {{ product.description }}
                </div>

                {%- if tabs_active -%}
                  <div class="product__section--tabs product__tabs-container js-tabbed-product-container">
                    <ul class="product__tabs">
                      <li class="product__tab-trigger" data-tab-index="0">
                        <a class="js-tab-trigger" data-content="product-description-tab-{{ forloop.index }}" href="#product-description-tab-{{ forloop.index }}">
                          {{ 'products.product.details' | t }}
                        </a>
                      </li>
                      {% for block in section.blocks %}
                        {% if block.type == 'tab_content' %}
                          <li class="product__tab-trigger" {{ block.shopify_attributes }} data-tab-index="{{ forloop.index }}">
                            <a class="js-tab-trigger" data-content="{{ block.id }}-tab-{{ forloop.index }}" href="#{{ block.id }}-tab-{{ forloop.index }}">
                              {{ block.settings.tab_title | escape }}
                            </a>
                          </li>
                        {% endif %}
                        {% if block.type == 'tab_question' and block.settings.tab_title != blank %}
                          <li class="product__tab-trigger" {{ block.shopify_attributes }} data-tab-index="{{ forloop.index }}">
                            <a class="js-tab-trigger" data-content="{{ block.id }}-tab-{{ forloop.index }}" href="#{{ block.id }}-tab-{{ forloop.index }}">
                              {{ block.settings.tab_title | escape }}
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    <div class="clear"></div>

                    <div class="tabbed__product-content tabbed__product-0 js-tabbed-content" id="product-description-tab-{{ forloop.index }}">
                      {{ product.description }}
                    </div>

                    {%- for block in section.blocks -%}
                      {%- if block.type == 'tab_content' and block.settings.tab_text != blank -%}
                        <div class="tabbed__product-content tabbed__product-{{ block.id }} js-tabbed-content" id="{{ block.id }}-tab-{{ forloop.index }}" {{ block.shopify_attributes }}>
                          {{ block.settings.tab_text }}
                          {% if block.settings.show_contact_form %}
                          {% endif %}
                        </div>
                      {%- endif -%}
                      {%- if block.type == 'tab_question' -%}
                        <div class="tabbed__product-content tabbed__product-{{ block.id }} js-tabbed-content" id="{{ block.id }}-tab-{{ forloop.index }}" {{ block.shopify_attributes }}>
                          {{ block.settings.tab_text }}
                          {% render 'question' %}
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                {%- endif -%}

              </div>

            {%- when 'line_item_property' -%}

              <div class="product__line-item product__section--element {{ block.shopify_attributes }}">
                {% if block.settings.property_type == 'text' %}
                <p class="line-item-property__field contact__form--input">
                  {%- if block.settings.required -%}
                    <small class="property--required">*&nbsp;{{ 'products.product.required' | t }}</small>
                  {%- endif -%}
                  <input id="{{ block.settings.title | handleize }}"
                   type="text"
                   {% if block.settings.required %}required{% endif %}
                   data-product-property
                   name="properties[{{ block.settings.title }}]"
                   data-property-id="{{ block.id }}"
                   value="">
                   <label for="{{ block.settings.title | handleize }}">{{ block.settings.title }}:</label>
                </p>
                {% elsif block.settings.property_type == 'multi_line_text' %}
                <p class="line-item-property__field contact__form--input">
                  {%- if block.settings.required -%}
                    <small class="property--required">*&nbsp;{{ 'products.product.required' | t }}</small>
                  {%- endif -%}
                  <textarea id="{{ block.settings.title | handleize }}"
                   {% if block.settings.required %}required{% endif %}
                   data-product-property
                   name="properties[{{ block.settings.title }}]"
                   data-property-id="{{ block.id }}"
                   ></textarea>
                   <label for="{{ block.settings.title | handleize }}e">{{ block.settings.title }}:</label>
                </p>
                {% endif %}
              </div>

            {%- when 'rating' -%}
              {%- if product.metafields.reviews.rating.value != blank -%}
                <div class="product__section--rating-wrapper product__section--element">
                  {% liquid
                   assign rating_decimal = 0
                   assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                   if decimal >= 0.3 and decimal <= 0.7
                    assign rating_decimal = 0.5
                  elsif decimal > 0.7
                    assign rating_decimal = 1
                   endif
                  %}
                  <div class="product__section-rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                    <span aria-hidden="true" class="product__section-rating-star color-icon" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};">
                    </span>
                  </div>
                  <p class="product__section-rating-text caption">
                    <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
                  </p>
                  <p class="product__section-rating-count caption">
                    <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                    <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                  </p>
                </div>
              {%- endif -%}

            {%- when 'share' -%}
              <div class="product__section--share product__share-container product__section--element" {{ block.shopify_attributes }}>
                {% render 'social' with product %}
              </div>

            {% when '@app' %}
              <div class="product__section--app product__section--element">
                {% render block %}
              </div>
            {% endcase %}
          {%- endfor -%}

        </div>
      </div>
      <div class="clear"></div>
    </div>
  {% endif %}
  <style>
    .global__section.featured-product {
      padding: 20px 0;
    }

    {% if settings.product_variants == 'swatches' %}
      #section-{{ section.id }} .selector-wrapper {
        display: none;
      }
      #section-{{ section.id }} .single-option-selector {
        opacity: 0;
        display: none;
      }
    {% endif %}

    {% if section.settings.thumbnail_position == 'bottom' %}
      #section-{{ section.id }} #product-{{ product.id }} .thumb-slider-slides {
        transition: left 0.5s ease-in-out;
      }
    {% else %}
      #section-{{ section.id }} #product-{{ product.id }} .thumb-slider-slides {
        transition: top 0.5s ease-in-out;
      }
    {% endif %}
    #section-{{ section.id }}.featured-product {
        background: {{ section.settings.product_background }};
    }
  </style>

  </div>
</section>


{% unless product == empty %}
  <script type="application/json" id="ModelJson-{{ section.id }}">
  {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}

{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
      "type":"color",
      "id":"product_background",
      "label":"Background color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Product"
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": "Product"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "options": [{
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "click_to_enlarge",
      "label": "Enable click to enlarge",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Learn more about [Media types](https://help.shopify.com/en/manual/products/product-media)"
    }
  ],
  "blocks": [
    {
      "type": "product_variants",
      "name": "Variants",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_quantity",
      "name": "Quantity",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_sku",
      "name": "Sku",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_availability",
      "name": "Pickup availability",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": []
    },
    {
      "type": "product_description",
      "name": "Product description",
      "limit": 1,
      "settings": []
    },
    {
      "type": "share",
      "name": "Social sharing",
      "limit": 1,
      "settings": []
    },
    {
      "type": "tab_content",
      "name": "Tab content",
      "settings": [
        {
          "type": "paragraph",
          "content": "Product tabs are positioned with the product description block"
        },
        {
          "label": "Title",
          "id": "tab_title",
          "type": "text",
          "default": "Tab title"
        },
        {
          "label": "Text",
          "id": "tab_text",
          "type": "richtext",
          "default": "<p>Add text which will be shown in tabs across all product pages</p>"
        },
        {
          "type": "checkbox",
          "id": "show_contact_form",
          "label": "Show contact form",
          "default": false
        }
      ]
    },
    {
      "type": "tab_question",
      "name": "Tab contact form",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Adds a contact form tab within the product description block"
        },
        {
          "label": "Title",
          "id": "tab_title",
          "type": "text",
          "default": "Ask a question"
        },
        {
          "label": "Text",
          "id": "tab_text",
          "type": "richtext",
          "default": "<p>Add text which will be shown in tabs across all product pages</p>"
        }
      ]
    },
    {
      "name":"Text",
      "type": "text_content",
      "settings":
      [
        {
          "label": "Text",
          "id": "text",
          "type": "richtext",
          "default": "<p>Add additional text content</p>"
        }
      ]
    },
    {
      "type": "stock_levels",
      "name": "Stock levels",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "threshold",
          "min": 0,
          "max": 50,
          "step": 1,
          "label": "Threshold",
          "info": "Increase buyer urgency if inventory below selected number, set to 0 to disable.",
          "default": 4
        }
      ]
    },
    {
      "name":"Text popup",
      "type": "text_popup",
      "settings":
      [
        {
          "label": "Popup modal label",
          "id": "popup_trigger",
          "type": "text",
          "default": "Popup label"
        },
        {
          "label": "Text",
          "id": "text",
          "type": "richtext",
          "default": "<p>Add additional text content</p>"
        },
        {
          "label": "Show popup label inline",
          "id": "show_inline",
          "type": "checkbox",
          "default": false,
          "info": "Show inline with other popup links where selected"
        }
      ]
    },
    {
      "type": "line_item_property",
      "name": "Line item property",
      "limit": 3,
      "settings": [
        {
          "type": "paragraph",
          "content": "Line item properties allow you to capture additional information when your customers place an order."
        },
        {
          "type": "select",
          "id": "property_type",
          "label": "Choose a property",
          "options": [
            {
              "value": "text",
              "label": "Single line text"
            },
            {
              "value": "multi_line_text",
              "label": "Multiple line text"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Label"
        },
        {
          "type": "checkbox",
          "id": "required",
          "label": "Required",
          "default": false
        }
      ]
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https:\/\/weareunderground.com/blogs/theme-support/how-to-display-product-rating-on-product-grid-and-product-page)"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [{
    "name": "Featured product",
    "blocks": [
  		{
        "type": "product_variants"
  		},
  		{
      	"type": "product_quantity"
      },
      {
      	"type": "product_buttons"
      },
      {
      	"type": "product_description"
      }
    ]
  }],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
