{%- liquid

  if settings.cart_type == 'drawer'
    assign cart_classes = 'js-slideout-open'
    assign cart_settings = 'data-wau-slideout-target="ajax-cart" data-slideout-direction="right"'
  elsif settings.cart_type == 'modal_cart'
    assign cart_classes = 'js-modal-open'
    assign cart_settings = 'data-wau-modal-target="ajax-cart"'
  endif

-%}

{% capture search %}
{%- if settings.predictive_search_enabled -%}
<predictive-search
  data-routes="{{ routes.predictive_search_url | default: '/search/suggest' }}"
  data-show-only-products="{{ settings.search_show_products_only | default: 'false' }}"
  data-results-per-resource="6"
  data-input-selector='input[name="q"]'
  data-results-selector="#predictive-search"
  >
{%- endif -%}
  <form action="{{ routes.search_url }}" method="get" class="header-search-form">
    <input
      type="text"
      class="header-search"
      name="q"
      id="header-search"
      placeholder="{{ 'general.search.placeholder' | t }}"
      value="{{ search.terms | escape }}"
      {%- if settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results-list"
        aria-controls="predictive-search-results-list"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%} />
    <button type="submit" class="search-button">
      {% render 'snip-icons',
         wrapper: '.slideout__trigger-search',
         type: 'apollo',
         icon: 'search',
         classes: 'vib-center',
         size: '14px',
         fill: 'var(--cart-links)',
         hover: 'var(--cart-links)' %}
    </button>
    <input name="options[prefix]" type="hidden" value="last">

    {% if settings.search_show_products_only %}
      <input type="hidden" name="type" value="product">
    {% endif %}

    {%- if settings.predictive_search_enabled -%}
      <div id="predictive-search" class="predictive-search" tabindex="-1"></div>
    {%- endif -%}
  </form>
{%- if settings.predictive_search_enabled -%}
</predictive-search>
{%- endif -%}
{% endcapture %}

<div class="header-section js-header-section" data-section-id="{{ section.id }}" data-section-type="header-section">
  <header data-sticky-class="header--sticky" class="theme-header{% if section.settings.header_layout == 'inline' %} stickynav{% endif %}{% if section.settings.full_width_header %} gridlock-fluid{% endif %}">
    {% if section.settings.full_width_header %}<div class="row">{% endif %}

    <div id="identity" class="row">

      <div class="mobile-menu__trigger mobile-only span-1">
        <div class="slideout__trigger--open text-left">
          <button class="slideout__trigger-mobile-menu js-slideout-open text-left" data-wau-slideout-target="mobile-navigation" data-slideout-direction="left" aria-label="Open navigation" tabindex="0" type="button" name="button">
            {% render 'snip-icons',
               wrapper: '.slideout__trigger-mobile-menu',
               type: 'apollo',
               icon: 'menu-bars',
               classes: 'slideout__trigger-mobile-menu--icon vib-center',
               size: '16px',
               fill: 'var(--cart-links)',
               hover: 'var(--cart-links)' %}
          </button>
        </div>
      </div>

      {% if section.settings.search_layout == 'visible' and section.settings.header_layout == 'center' %}
        <div class="large-search desktop-4">
          {{ search }}
        </div>
      {% endif %}

      <div id="logo" class="{% if section.settings.header_layout == 'center' %}desktop-4 {% if section.settings.search_layout != 'visible' %}desktop-push-4 {% endif %}{% elsif section.settings.header_layout == 'left' %}desktop-4 {% endif %}">
        {% if section.settings.logo != blank %}
          <a href="{{ routes.root_url }}">
            <img src="{{ section.settings.logo | img_url: '600x' }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
          </a>
        {% else %}
          <a href="{{ routes.root_url }}">{{ shop.name }}</a>
        {% endif %}
      </div>

      {% if section.settings.search_layout == 'visible' and section.settings.header_layout == 'left' %}
        <div class="large-search desktop-4">
          {{ search }}
        </div>
      {% endif %}

      {% if section.settings.header_layout == 'inline' %}
				<nav class="navigation inline-header js-nav" data-sticky-class="navigation--sticky">
					<div id="navigation" class="navigation__maincontainer" >
						<ul id="nav">
							{% render 'navigation' %}
						</ul>
					</div>
				</nav>
      {% endif %}

      <div id="cart-container" class="{% unless section.settings.header_layout == 'inline' %}desktop-4{% endunless %}{% if section.settings.search_layout != 'visible' and section.settings.header_layout == 'left' %} desktop-push-4{% endif %}">
        <ul id="cart">
          <li class="search-icon"{% if section.settings.search_layout != 'modal' %} style="display: none"{% endif %}>
            {% comment %}
            <button class="slideout__trigger-search button-as-link js-modal-open"
                    data-wau-modal-target="search-modal"
                    aria-label="{{ 'general.search.placeholder' | t }}"
                    aria-haspopup="true"
                    aria-expanded="false"
                    tabindex="0" type="button" name="button">
                {% render 'snip-icons',
                   wrapper: '.slideout__trigger-search',
                   type: 'apollo',
                   icon: 'search',
                   classes: 'vib-center',
                   size: '16px',
                   fill: 'var(--cart-links)',
                   hover: 'var(--cart-links)' %}
            </button>
            {% if section.settings.search_layout == 'modal' %}
              <div class="search-modal-content" data-wau-modal-content="search-modal" data-wau-modal-full style="display: none;">
                {{ search }}
              </div>
            {% endif %}
            {% endcomment %}
            <a href="/search">
              {% render 'snip-icons',
                   wrapper: '.slideout__trigger-search',
                   type: 'apollo',
                   icon: 'search',
                   classes: 'vib-center',
                   size: '16px',
                   fill: 'var(--cart-links)',
                   hover: 'var(--cart-links)' %}
            </a>
          </li>

          {% if shop.customer_accounts_enabled %}
            {% if customer  %}
              <li class="cart-links__link-account customer-accounts">
                <a href="{{ routes.account_url }}">
                  <span class="customer-words vib-center">{{ 'layout.customer.my_account' | t }}</span>
                  {% render 'snip-icons',
                     wrapper: '.cart-links__link-account',
                     type: 'apollo',
                     icon: 'user',
                     classes: 'cart-links__link-account--icon vib-center',
                     size: '16px',
                     fill: 'var(--cart-links)',
                     hover: 'var(--cart-links)' %}
                </a>
              </li>
              <li class="cart-links__link-account customer-accounts">
                <a href="{{ routes.account_logout_url }}">
                  <span class="customer-words vib-center">{{ 'layout.customer.log_out' | t }}</span>
                  {% render 'snip-icons',
                     wrapper: '.cart-links__link-account',
                     type: 'apollo',
                     icon: 'user-logout',
                     classes: 'cart-links__link-account--icon vib-center',
                     size: '16px',
                     fill: 'var(--cart-links)',
                     hover: 'var(--cart-links)' %}
                </a>
              </li>
            {% else %}
              <li class="cart-links__link-account customer-accounts">
                <a href="{{ routes.account_login_url }}">
                  <span class="customer-words vib-center">{{ 'layout.customer.my_account' | t }}</span>
                  {% render 'snip-icons',
                     wrapper: '.cart-links__link-account',
                     type: 'apollo',
                     icon: 'user',
                     classes: 'cart-links__link-account--icon vib-center',
                     size: '16px',
                     fill: 'var(--cart-links)',
                     hover: 'var(--cart-links)' %}
                </a>
              </li>
            {% endif %}
          {% endif %}

          {% if settings.cart_type == 'page_only' %}
            <li class="cart-links__link-cart my-cart-link-container">
              <a href="{{ routes.cart_url }}">
                <span class="my-cart-text vib-center">{{ 'layout.cart.my_cart' | t }}</span>
                {% render 'snip-icons',
                   wrapper: '.cart-links__link-cart',
                   type: 'apollo',
                   icon: 'cart',
                   classes: 'cart-links__link-cart--icon vib-center',
                   size: '16px',
                   fill: 'var(--cart-links)',
                   hover: 'var(--cart-links)' %}
                <span class="js-cart-count vib-center">{{ cart.item_count }}</span>
              </a>
            </li>
          {% else %}
            <li class="cart-links__link-cart my-cart-link-container">
              <div class="slideout__trigger--open">
                <a href="{{ routes.cart_url }}">
                  <button class="slideout__trigger-mobile-menu js-mini-cart-trigger {{ cart_classes }}" {{ cart_settings }} aria-label="Open cart" tabindex="0" type="button" name="button">
                    <span class="my-cart-text vib-center">{{ 'layout.cart.my_cart' | t }}</span>
                    {% render 'snip-icons',
                       wrapper: '.cart-links__link-cart',
                       type: 'apollo',
                       icon: 'cart',
                       classes: 'cart-links__link-cart--icon vib-center',
                       size: '16px',
                       fill: 'var(--cart-links)',
                       hover: 'var(--cart-links)' %}
                    <span class="js-cart-count vib-center">{{ cart.item_count }}</span>
                  </button>
                </a>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>

    </div>

    {% if section.settings.full_width_header %}</div>{% endif %}
  </header>

  {% if section.settings.header_layout != 'inline' %}
		<nav id="nav" data-sticky-class="navigation--sticky" class="js-nav navigation full-nav{% if section.settings.full_width_header %} gridlock-fluid{% endif %} stickynav">
			{% if section.settings.full_width_header %}<div class="row">{% endif %}
			<div class="navigation__maincontainer row">
				<ul id="nav" {% unless section.settings.full_width_header %}style="position: relative;"{% endunless %}>
					{% render 'navigation' %}
				</ul>
			</div>
			{% if section.settings.full_width_header %}</div>{% endif %}
		</nav>
  {% endif %}

  <div class="clear js-clear-element"></div>

  <style>
    {% if section.settings.search_layout == 'modal' %}
      .modal__inner-content-container form.header-search-form {
        position: relative;
      }
      .modal__inner-content-container button.search-button {
        position: absolute;
        right: 0;
        top: 0;
      }
    {% else %}
      div#predictive-search {
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          z-index: 13;
          transform: translateY(10px);
      }
    {% endif %}
    {% if section.settings.logo != blank %}
      #logo img { max-width: {{ section.settings.logo_max_width }}px; }
      @media screen and (max-width: 740px) {
        #logo img { max-width: {{ section.settings.logo_max_width_mobile }}px; }
      }
      #logo { line-height: 0;}
    {% endif %}

    {% if section.settings.header_layout == 'center' %}
      #logo {
        text-align: center;
      }
    {% endif %}

    nav {
      {% if section.settings.header_layout == 'center' %}text-align: center;{% endif %}
      line-height: {{ section.settings.nav_height }}px;
    }

    {% if section.settings.header_layout == 'center' %}
      @media screen and ( min-width: 740px ) and ( max-width: 980px ) {
        ul#social-links {
          text-align: left;
          float: left;
        }
      }
    {% endif %}

    {% unless section.settings.header_layout == 'inline' %}
      #identity {
        display: flex;
        align-items: center;
      }
    {% endunless %}

    {% if section.settings.header_layout == 'inline' %}
      header.theme-header.stickynav #identity {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr;
          padding-left: 10px;
          padding-right: 10px;
      }
      header.theme-header.stickynav #identity > div, #identity nav {
          float: none! important;
          width: unset !important;
          margin: 0;
          align-self: center;
      }
      header.theme-header.stickynav #identity #logo {
          justify-self: start;
      }
      header.theme-header.stickynav #identity nav.inline-header {
          justify-self: stretch;
      }
      header.theme-header.stickynav #identity #cart-container {
          justify-self: end;
      }

    	@media only screen and (max-width: 980px) {
    		header.theme-header.stickynav #identity nav.inline-header {
    			display: none;
    		}

    		header.theme-header.stickynav #identity #logo,
    		header.theme-header.stickynav #identity #cart-container,
    		header.theme-header.stickynav #identity > div{
    		  justify-self: center;
    		}
    	}
    {% endif %}
    {% if section.settings.icons_only %}
      span.customer-words,
      span.my-cart-text { display: none; }
    {% endif %}
    {% if section.settings.search_layout == 'visible' %}
      ul#predictive-search-results-list {
          box-shadow: 0px 3px 3px -1px #999;
      }
    {% endif %}
    {% if section.settings.floating_header %}
      @media screen and (min-width: 981px) {

        /* -- Set header height and lift image sections --*/
        body.template-index #MainContent .header__overlay-banner:first-child {
          margin-top: calc(var(--header-height) * -1);
        }

        /* -- Override theme settings background colors --*/
        body.template-index .header-section,
        body.template-index header,
        body.template-index header:not(.header--sticky),
        body.template-index .navigation:not(.navigation--sticky) {
          background: transparent;
        }

        /* -- Reuse theme settings backgrounds on hover --*/
        body.template-index .header-section:hover,
        body.template-index .header-section:hover header,
        body.template-index header.header--sticky {
          background: var(--header-background);
        }

        /* -- Override theme settings link and fill colors --*/
        body.template-index .header-section header:not(.header--sticky) ul#cart > li a,
        body.template-index .header-section header:not(.header--sticky) ul#cart > li button,
        body.template-index .header-section header:not(.header--sticky) button.slideout__trigger-mobile-menu.js-slideout-open,
        body.template-index .header-section header:not(.header--sticky) #logo a,
        body.template-index .header-section header:not(.header--sticky) a.navigation__menulink,
        body.template-index .header-section header:not(.header--sticky) span.js-cart-count,
        body.template-index .header-section header:not(.header--sticky) a.navigation__menulink,
        body.template-index .header-section nav.full-nav:not(.navigation--sticky) a.navigation__menulink,
        body.template-index .header-section input.header-search::-webkit-input-placeholder,
        body.template-index .header-section input.header-search::placeholder {
          color: var(--header-float-color);
        }
        body.template-index .header-section header:not(.header--sticky) svg g.hover-fill,
        body.template-index .header-section header:not(.header--sticky) a.navigation__menulink svg g.hover-fill,
        body.template-index .header-section nav.full-nav:not(.navigation--sticky) a.navigation__menulink svg g.hover-fill {
          fill: var(--header-float-color);
        }

        /* -- Reuse theme settings link and fill colors when hovering --*/
        body.template-index .header-section:hover header ul#cart > li a,
        body.template-index .header-section:hover header ul#cart > li button,
        body.template-index .header-section:hover header button.slideout__trigger-mobile-menu.js-slideout-open,
        body.template-index .header-section:hover header #logo a,
        body.template-index .header-section:hover header span.js-cart-count,
        body.template-index .header-section:hover nav.navigation:not(.full-nav) a.navigation__menulink {
          color: var(--cart-links);
        }
        body.template-index .header-section:hover header:not(.header--sticky) svg g.hover-fill,
        body.template-index .header-section:hover header:not(.header--sticky) a.navigation__menulink svg g.hover-fill {
          fill: var(--cart-links);
        }

        body.template-index .header-section:hover input.header-search::-webkit-input-placeholder,
        body.template-index .header-section:hover input.header-search::placeholder {
          color: var(--disabled-text);
        }

        /* -- Reuse theme settings link and fill colors when docked --*/
        body.template-index .header-section header.header--sticky nav.navigation a.navigation__menulink {
          color: var(--cart-links);
        }
        body.template-index .header-section header.header--sticky nav.navigation a.navigation__menulink svg g.hover-fill {
          fill: var(--cart-links);
        }

        /* -- Reuse theme settings link and fill colors when full size nav --*/
        body.template-index .header-section:hover nav.full-nav:not(.navigation--sticky) {
          background: var(--navigation);
        }
        body.template-index .header-section:hover nav.full-nav:not(.navigation--sticky) a.navigation__menulink {
          color: var(--nav-color);
        }
        body.template-index .header-section:hover nav.full-nav:not(.navigation--sticky) a.navigation__menulink svg g.hover-fill {
          fill: var(--nav-color);
        }

        .navigation,
        .header-section a,
        .header-section button,
        .header-section span,
        .header-section svg g.hover-fill {
          transition: all .25s ease-in-out;
        }
        .header-section a span,
        .header-section button span {
          transition: none;
        }

      }
    {% endif %}

  </style>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [{
      "type": "checkbox",
      "id": "full_width_header",
      "label": "Enable full width"
    },
    {
      "type": "select",
      "id": "header_layout",
      "label": "Header layout",
      "options": [{
          "value": "left",
          "label": "Logo left, navigation below"
        },
        {
          "value": "center",
          "label": "Logo center, navigation below"
        },
        {
          "value": "inline",
          "label": "Logo left, navigation inline"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "floating_header",
      "label": "Overlay header on full width image sections",
      "info":"Puts header on top of the first section if slideshow or image with text overlay has been selected",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 80,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Logo max width",
      "default": 200
    },
    {
      "type": "range",
      "id": "logo_max_width_mobile",
      "min": 80,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo max width",
      "default": 200
    },
    {
      "type": "header",
      "content": "Cart links"
    },
    {
      "type": "checkbox",
      "id": "icons_only",
      "label": "Show icons only",
      "default": false
    },
    {
      "type": "select",
      "id": "search_layout",
      "label": "Search",
      "default": "modal",
      "options": [{
          "value": "visible",
          "label": "Always visible (excl inline layout)"
        },
        {
          "value": "modal",
          "label": "Modal"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
    },
    {
      "type": "header",
      "content": "navigation"
    },
    {
      "type": "link_list",
      "id": "main_nav",
      "label": "Menu",
      "default": "main-menu",
      "info": "It is best practice to select the same menu used in the Mobile Nav. [Learn More](https://developers.google.com/search/mobile-sites/mobile-first-indexing)"
    },
    {
      "type": "range",
      "id": "nav_height",
      "min": 30,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Height",
      "default": 40
    },
    {
      "type": "range",
      "id": "linklist_breakpoint",
      "min": 4,
      "max": 20,
      "step": 1,
      "label": "Links per column",
      "info": "Break long drop downs into multiple columns",
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega dropdown",
      "settings": [{
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter a link title from your main navigation"
        },
        {
          "type": "image_picker",
          "id": "nav_image",
          "label": "Featured image"
        },
        {
          "type": "url",
          "id": "nav_promo_link",
          "label": "Featured image link"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Image position",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    },
    {
      "type": "links_with_images",
      "name": "Links with images",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Menu item",
          "info": "Enter a link title from your main navigation"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "Image ratio",
          "default": "natural",
          "options": [
            {
              "value": "natural",
              "label": "Natural"
            },
            {
              "value": "square",
              "label": "Square (1:1)"
            },
            {
              "value": "landscape",
              "label": "Landscape (4:3)"
            },
            {
              "value": "portrait",
              "label": "Portrait (2:3)"
            }
          ]
        },
        {
          "type": "header",
          "content":"Image 1"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_1",
          "label": "Image link"
        },
        {
          "type": "header",
          "content":"Image 2"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Image link"
        },
        {
          "type": "header",
          "content":"Image 3"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link_3",
          "label": "Image link"
        }
      ]
    }
  ]
}
{% endschema %}
