{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  assign is_swipe = false
  assign is_touching = false

  if section.settings.swipe
    assign is_swipe = true
  endif

  if section.settings.images_touching
    assign is_touching = true
  endif

-%}

<style>
  #shopify-section-{{ section.id }} .gallery__section-container.images_touching {
    grid-gap: 0;
  }
  #shopify-section-{{ section.id }} .gallery__section-container.mobile__swipe.images_touching .gallery__section-block {
    margin-right: 0;
  }

  #shopify-section-{{ section.id }} {
    --h3-size:  {{ section.settings.promo_size }}px;
    --font-size:  {{ section.settings.hidden_size }}px;
  }
  @media screen and (max-width: 740px) {
    #shopify-section-{{ section.id }} {
      --h3-size:  calc({{ section.settings.promo_size }}px - ({{ section.settings.promo_size }}px * 0.15));
      --font-size:  calc({{ section.settings.hidden_size }}px - ({{ section.settings.hidden_size }}px * 0.15));
    }
  }
  {% for block in section.blocks %}
    #shopify-section-{{ section.id }} .gallery__section-block.promo-{{ block.id }} {
      --section-overlay-color: {{ block.settings.overlay_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
      --section-overlay-opacity: {{ block.settings.overlay_opacity | plus: 0 | divided_by: 100.0  }};
      --caption-background: {{ block.settings.caption_background }};
      --text-color: {{ block.settings.text_color }};
    }
  {% endfor %}
</style>

<section class="global__section gallery__section {{ section.id }} {{ section_padding }}" data-section-id="{{ section.id }}" data-aos="fade">
  {% if section.settings.full_width %}<div class="gridlock-fluid"><div class="row">{% endif %}
  <div class="gallery__section-container row grid__wrapper{% if is_swipe %} mobile__swipe{% endif %}{% if is_touching %} images_touching{% endif %}">
    {% for block in section.blocks %}
      {%- liquid
         case block.settings.image_width
          when '25%'
          assign image_size = '500x'
          assign image_width = 'span-3'
          when '33%'
          assign image_size = '500x'
          assign image_width = 'span-4'
          when '50%'
          assign image_size = '800x'
          assign image_width = 'span-6'
          when '66%'
          assign image_size = '1200x'
          assign image_width = 'span-8'
          when '75%'
          assign image_size = '1200x'
          assign image_width = 'span-9'
          when '100%'
          assign image_size = '1920x'
          assign image_width = 'span-12'
         endcase

         assign img_url = block.settings.image | img_url: image_size

         assign hide_caption = false
         if block.settings.heading_text == blank and block.settings.subheading == blank and block.settings.button_text == blank
          assign hide_caption = true
         endif

         assign hover_caption = false
         if block.settings.hover_caption
          assign hover_caption = true
        endif

        assign caption_position = block.settings.caption_position

      -%}

      <div class="gallery__section-block {% if section.settings.full_width and block.settings[image_size] == '100%' %} centered{% endif %} {{ image_width }} {% unless is_swipe %}sm-span-12 {% endunless %} auto promo-{{ block.id }}{% if forloop.last %} last-block{% endif %}" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank and block.settings.button_text == blank %}
        <a href="{{ block.settings.link }}">
        {% endif %}
        <div class="gallery__section-content{% if hover_caption and hide_caption == false %} hover__caption{% endif %}">
          <div class="gallery__section-image">
            {% if block.settings.image != blank %}
              {% render 'basic-responsive-image', type: block.settings.image, data_widths: '[180, 360, 540, 720, 900, 1080, 1296, 1512]' %}
              <noscript>
                <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
              </noscript>
            {% else %}
              <div class="onboard">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% endif %}
          </div>

          {% unless hide_caption %}
            <div class="gallery__image-caption image__caption {{ caption_position }}">
              {% if block.settings.heading_text != blank %}
                <h3>{{ block.settings.heading_text | escape }}</h3>
              {% endif %}
              {% if block.settings.subheading != blank %}
                <p>{{ block.settings.subheading | escape }}</p>
              {% endif %}
              {% if block.settings.link != blank and block.settings.button_text != blank %}
                <div class="caption__btn-wrapper">
                  <a class="button" href="{{ block.settings.link }}">
                    {{ block.settings.button_text }}
                  </a>
                </div>
              {% endif %}
            </div>
          {% endunless %}
        </div>
        {% if block.settings.link != blank and block.settings.button_text == blank %}
        </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if section.settings.full_width %}</div></div>{% endif %}

  {% if section.blocks.size == 0 %}
    {% render 'no-blocks' %}
  {% endif %}
</section>
<div class="clear"></div>

{% schema %}
{
  "name": "Image gallery",
  "max_blocks": 6,
  "class": "header__overlay-banner",
  "settings": [{
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": false
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    },
    {
      "type": "checkbox",
      "id": "swipe",
      "label": "Swipe images on mobile"
    },
    {
      "type": "checkbox",
      "id": "images_touching",
      "label": "Images touching",
      "info":"Remove the space around images"
    },
    {
      "type": "range",
      "id": "promo_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 20
    },
    {
      "type": "range",
      "id": "hidden_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Subheading size",
      "default": 13
    }
  ],
  "blocks": [{
    "type": "image",
    "name": "Image",
    "settings": [{
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "800px x 600px recommended"
      },
      {
        "type": "select",
        "id": "image_width",
        "label": "Width",
        "default": "33%",
        "options": [{
            "value": "25%",
            "label": "25%"
          },
          {
            "value": "33%",
            "label": "33%"
          },
          {
            "value": "50%",
            "label": "50%"
          },
          {
            "value": "66%",
            "label": "66%"
          },
          {
            "value": "75%",
            "label": "75%"
          },
          {
            "value": "100%",
            "label": "100%"
          }
        ]
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "header",
        "content": "Caption"
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subheading"
      },
      {
        "id": "button_text",
        "type": "text",
        "label": "Button text",
        "default": "Button",
        "info": "Visible only if a link is chosen"
      },
      {
        "type": "header",
        "content": "Caption style"
      },
      {
        "type": "select",
        "id": "caption_position",
        "label": "Caption position",
        "default": "middle_center",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_center",
            "label": "Top center"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "middle_left",
            "label": "Middle left"
          },
          {
            "value": "middle_center",
            "label": "Middle center"
          },
          {
            "value": "middle_right",
            "label": "Middle right"
          },
          {
            "value": "bottom_left",
            "label": "Bottom left"
          },
          {
            "value": "bottom_center",
            "label": "Bottom center"
          },
          {
            "value": "bottom_right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "hover_caption",
        "label": "Show on hover only",
        "info":"Hides the caption until the image is hovered. Displays at all times on mobile"
      },
      {
        "type": "color",
        "id": "caption_background",
        "label": "Caption background",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Overlay opacity",
        "default": 0
      }
    ]
  }],
  "presets": [{
    "name": "Image gallery",
    "blocks": [{
        "type": "image"
      },
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
