{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0 pt0'
  endif

  case section.settings.image_width
   when '25%'
   assign image_size = '500x'
   assign image_width = '3'
   when '33%'
   assign image_size = '500x'
   assign image_width = '4'
   when '50%'
   assign image_size = '800x'
   assign image_width = '6'
   when '66%'
   assign image_size = '1200x'
   assign image_width = '8'
   when '75%'
   assign image_size = '1200x'
   assign image_width = '9'
  endcase

  assign img_url = section.settings.image | img_url: image_size

  assign cw = 12 | minus: image_width
  assign color = section.settings.color
  assign background = section.settings.background
  assign button_color = section.settings.button_color
  assign button_background = section.settings.button_background

-%}

<style>
  #shopify-section-{{ section.id }} {
    --section-background: {{ background }};
    --text-color: {{ color }};
  }
</style>

<section class="global__section image__withText-section section-{{ section.id }} padded--section {{ section_padding }}" data-section-id="{{ section.id }}" data-aos="fade">
  {% if section.settings.full_width %}
  <div class="gridlock-fluid"><div class="row">
  {% endif %}

  {% capture image_layout %}
    <div class="image__withText-image span-{{ image_width }} sm-span-12 auto{% if section.settings.section_padding == 'none' %} mt0 mb0{% endif %}">
      {% if section.settings.image != blank %}
        {% render 'basic-responsive-image', type: section.settings.image, data_widths: '[180, 360, 540, 720, 900]' %}
        <noscript>
          <img src="{{ section.settings.image | img_url: '800x' }}" alt="{{ section.settings.image.alt }}">
        </noscript>
      {% else %}
        <div class="onboard">
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% endif %}
    </div>
  {% endcapture %}

  <div class="row grid__wrapper image__withText-wrapper section-{{ section.id }}">
    {% if section.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="image__withText-caption{% if section.settings.text_align == 'center' %} a-center{% endif %} span-{{ cw }} sm-span-12 auto">
      {% if section.settings.heading != blank %}
        <h3>{{ section.settings.heading | escape }}</h3>
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button != blank and section.settings.link != blank %}
        <a class="caption__link" href="{{ section.settings.link }}">
          {{ section.settings.button | escape }}
        </a>
      {% endif %}
    </div>

    {% if section.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
  {% if section.settings.full_width %}</div></div>{% endif %}
</section>
{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Enable full width",
      "default": false
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "left",
      "options": [{
          "value": "left",
          "label": "Image on left"
        },
        {
          "value": "right",
          "label": "Image on right"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "Width",
      "default": "50%",
      "options": [{
          "value": "25%",
          "label": "25%"
        },
        {
          "value": "33%",
          "label": "33%"
        },
        {
          "value": "50%",
          "label": "50%"
        },
        {
          "value": "66%",
          "label": "66%"
        },
        {
          "value": "75%",
          "label": "75%"
        }
      ]
    },
    {
      "type": "header",
      "content": "Text content"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "left",
      "options": [{
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair text with an image to add details about your products, brand and selling proposition.</p>"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#000"
    }

  ],
  "presets": [{
    "name": "Image with text"
  }
  ],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
