{%- liquid


  assign published_at = article.published_at | date: format: 'month_date_year'

-%}

<section data-section-id="{{ section.id }}" class="article-template global__section row grid__wrapper">
  {% paginate article.comments by 10 %}
    <div class="blog-container span-12 auto grid__wrapper edge">
      <div id="article-body">
        {% if article.tags.size > 0 and section.settings.article_tags %}
          <ul class="article-tags">
            {% for tag in article.tags %}
              <li>
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                  {{ tag }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if section.settings.show_date or section.settings.show_author %}
          <p class="posted">
            {% if section.settings.show_author %}
              <span class="post_meta">
                {{ article.user.first_name }}
              </span>
            {% endif %}
            {% if section.settings.show_date %}
              <span class="post_meta">
                {{ 'blogs.article.posted_on_date_html' | t: date: published_at }}
              </span>
            {% endif %}
          </p>
        {% endif %}

        {% if article.image and section.settings.show_article_image %}
          <div class="article-image">
            {%- render 'basic-responsive-image', type: article.image, data_widths: '[180, 360, 540, 720, 900, 1080]' -%}
            <noscript>
              <img src="{{ article.image | img_url: '800x' }}" alt="{{ article.image.alt }}">
            </noscript>
          </div>
        {% endif %}

        <div class="rte">
          {{ article.content }}
        </div>

        {% if section.settings.show_icons %}
          {% render 'social' with article %}
        {% endif %}

        {% if blog.comments_enabled? %}
          <div id="comments">
            <div class="desktop-7 tablet-6 mobile-3">
              <div class="section-title">
                <h3>{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}</h3>
              </div>
              <ul id="commentlist">
                {% for comment in article.comments %}
                  <li>
                    <div class="comment-details">
                      {{ comment.author }}: {{ comment.created_at | date: "%B %d, %Y" }}
                    </div>
                    <div class="gravatar desktop-1 mobile-1">
                      <img title="{{ comment.author }}" src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" />
                    </div>
                    <div class="comment desktop-11 mobile-2">
                      {{ comment.content }}
                    </div>
                  </li>
                {% endfor %}
              </ul>
              <div id="pagination">
                {% if paginate.previous %}
                  {{ '<' | link_to: paginate.previous.url }}
                {% endif %}

                {% for part in paginate.parts %}
                  {% if part.is_link %}
                    {{ part.title | link_to: part.url }}
                  {% else %}
                    {% if part.title == '&hellip;' %}
                      {{ part.title }}
                    {% else %}
                      <span class="current">{{ part.title }}</span>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                {% if paginate.next %}
                  {{ '>' | link_to: paginate.next.url }}
                {% endif %}
              </div>
            </div>

            <div id="comment-form" class="desktop-5 tablet-6 mobile-3">
              {% form article %}
                <div class="section-title">
                  <h3>{{ 'blogs.comments.title' | t }}</h3>
                </div>

                <!-- Check if a comment has been submitted in the last request, and if yes display an appropriate message -->
                {% if form.posted_successfully? %}
                  {% if blog.moderated? %}
                    <div class="notice">
                      {{ 'blogs.comments.success_moderated' | t }}
                    </div>
                  {% else %}
                    <div class="notice">
                      {{ 'blogs.comments.success' | t }}
                    </div>
                  {% endif %}
                {% endif %}

                {% if form.errors %}
                  <div class="notice error">
                    <p>{{ 'general.forms.post_error' | t }}</p>
                    <ul class="disc">
                      {% for field in form.errors %}
                        {% if field == 'form' %}
                          <li>
                            {{ form.errors.messages[field] }}
                          </li>
                        {% else %}
                          <li>
                            <strong>{{ field | replace: 'body', 'Message' }}</strong> {{ form.errors.messages[field] }}
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}

                <dl>
                  <dt class="{% if form.errors contains 'author' %}error{% endif %}"><label for="comment_author">{{ 'blogs.comments.name' | t }}</label></dt>
                  <dd><input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" class="{% if form.errors contains 'author' %}input-error{% endif %}" /></dd>

                  <dt class="{% if form.errors contains 'email' %}error{% endif %}"><label for="comment_email">{{ 'blogs.comments.email' | t }}</label></dt>
                  <dd><input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" class="{% if form.errors contains 'email' %}input-error{% endif %}" /></dd>

                  <dt class="{% if form.errors contains 'body' %}error{% endif %}"><label for="comment_body">{{ 'blogs.comments.message' | t }}</label></dt>
                  <dd><textarea id="comment_body" name="comment[body]" cols="40" rows="5" class="{% if form.errors contains 'body' %}input-error{% endif %}">{{form.body}}</textarea></dd>
                </dl>

                {% if blog.moderated? %}
                  <p class="hint">
                    {{ 'blogs.comments.moderated' | t }}
                  </p>
                {% endif %}

                <input type="submit" value="{{ 'blogs.comments.post' | t }}" />
              {% endform %}
            </div>
          </div>
        {% endif %}
      </div>

      {% if section.blocks.size > 0 %}
        <div id="blog-sidebar" data-aos="fade">
          {% for block in section.blocks %}
            <div class="blog-sidebar-block">
             {% case block.type %}
             {% when 'menu' %}
               <ul class="blog-sidebar-menu" {{ block.shopify_attributes }}>
                 <h4>{{ block.settings.heading | escape }}</h4>
                 {% for link in linklists[block.settings.side_nav].links %}
                  <li>{{ link.title | link_to: link.url }}</li>
                 {% endfor %}
               </ul>
             {% when 'text' %}
               <div class="textnote_container">
                  <h4>{{ block.settings.heading | escape }}</h4>
                  <span class="rte">{{ block.settings.sidebar_text }}</span>
               </div>
             {% when 'newsletter' %}
               <div class="blog-sidebar-newsletter">
                 <h4>{{ block.settings.heading | escape }}</h4>
                 {{ block.settings.text }}
                 {% form 'customer' %}
                 {{ form.errors | default_errors }}
                   {% if form.posted_successfully? %}
                    <p class="success">{{ 'password.general.thanks' | t }}</p>
                   {% else %}
                     <input type="hidden" name="contact[tags]" value="prospect, password page">
                     <input type="email" name="contact[email]" id="blog-email-input" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}">
                     <input type="submit" id="blog-email-submit" value="{{ 'general.newsletter_form.submit' | t }}">
                   {% endif %}
                 {% endform %}
               </div>
             {% when 'image' %}
               <div class="image_container"{% if block.settings.image == blank %} style="background: #eee"{% endif %}>
                 <a href="{{ block.settings.link }}">
                   {% if block.settings.image != blank %}
                    <img src="{{ block.settings.image | img_url: '450x' }}" alt="{{ block.settings.image.alt }}">
                   {% else %}
                    {{ 'collection-1' | placeholder_svg_tag }}
                   {% endif %}
                 </a>
               </div>
             {% when 'blog-posts' %}
               {%- assign blog = blogs[block.settings.blog] -%}
               <h4>{{ block.settings.heading | escape }}</h4>

               {% for article in blog.articles limit: 3 %}
                 <div class="sidebar-article">
                   {% if article.image %}
                     <div class="article-image">
                       <a href="{{ article.url }}">
                         {%- render 'basic-responsive-image', type: article.image, data_widths: '[180, 360, 540, 720, 900, 1080]' -%}
                         <noscript>
                          <img src="{{ article.image | img_url: '800x' }}" alt="{{ article.image.alt }}">
                         </noscript>
                       </a>
                     </div>
                   {% endif %}
                   <div class="sidebar-article-content">
                     <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                     {% if block.settings.show_excerpt %}
                       {% if article.excerpt == blank %}
                        {{ article.content | strip_html | truncatewords: 20 }}
                       {% else %}
                        {{ article.excerpt }}
                       {% endif %}
                       <div class="readmore">
                         <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
                       </div>
                     {% endif %}
                   </div>
                 </div>
               {% endfor %}
             {% when 'profile' %}
              <h4>{{ block.settings.heading | escape }}</h4>
               <div class="bio_image_container"{% if block.settings.image == blank %} style="background: #eee"{% endif %}>
                 {% if block.settings.image != blank %}
                  <img src="{{ block.settings.image | img_url: '450x' }}" alt="{{ block.settings.image.alt }}">
                 {% else %}
                  {{ 'collection-1' | placeholder_svg_tag }}
                 {% endif %}
               </div>
               <div class="textnote_container rte">
                 {{ block.settings.bio_text }}
               </div>
             {% when 'product' %}
               {%- liquid
                 assign product = all_products[block.settings.featured_product]
                 assign preview_image = product.featured_media.preview_image
                 assign image_box_ratio = preview_image.height | append: ".0" | times: 1 | divided_by: preview_image.width | times: 100 | append: "%"
                 assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
               -%}
               {%- if product != blank -%}
                 <div class="prod-image">
                   <a href="{{ product.url | within: collection }}">
                     <div class="box-ratio" style="padding-bottom: {{ image_box_ratio }};">
                       <img class="lazyload lazyload-fade {% if settings.secondary_images_hover and product.images.size > 1 %}first-image{% endif %}"
                         data-src="{{ img_url }}"
                         data-sizes="auto"
                         data-original="{{ preview_image | img_url: '500x' }}"
                         alt="{{ preview_image.alt | escape }}">
                     </div>
                     <noscript>
                       <img src="{{ preview_image | img_url: '500x' }}" alt="{{ preview_image.alt | escape }}">
                     </noscript>
                    </a>
                 </div>
                 <div class="blog-product-info">
                   <a href="{{ product.url | within: collection }}">
                     {% if settings.vendor %}
                       <p>{{ product.vendor }}</p>
                     {% endif %}
                     <p>{{ product.title }}</p>
                   </a>

                   {% render 'product-price-listing', product: product %}

                   {% if block.settings.show_button %}
                     <a class="button" href="{{ product.url | within: collection }}">
                       {{ block.settings.button_text }}
                     </a>
                   {% endif %}
                 </div>
               {%- else -%}
                 <div class="prod-image">
                   {{ 'product-1' | placeholder_svg_tag }}
                 </div>
                 <div class="blog-product-info {% if block.settings.sidebar_text_align == 'center' %}a-center{% endif %}">
                   <a href="">
                     {% if settings.vendor %}
                      <p>VENDOR</p>
                     {% endif %}
                     <p>Product Title</p>
                   </a>
                   $12.00
                   {% if block.settings.show_button %}
                     <a class="button" href="">
                       {{ block.settings.button_text }}
                     </a>
                   {% endif %}
                 </div>
               {%- endif -%}
             {% endcase %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="clear"></div>
  {% endpaginate %}

  <style>
    div#blog-sidebar {
      margin-top: 20px;
      text-align: {{ section.settings.sidebar_text_align }};
    }
    .blog-sidebar-block {
      margin-bottom: 30px;
      {% if section.settings.sidebar_block_border %}
      padding: 10px;
      border: 1px solid var(--dotted-color);
      margin-bottom: 20px;
      {% endif %}
    }
  </style>
</section>

{% schema %}
{
  "name": "Blog post",
  "max_blocks": 8,
  "settings": [{
      "type": "header",
      "content": "Article settings"
    },
    {
      "type": "checkbox",
      "id": "show_article_image",
      "label": "Show featured image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "article_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show published date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_icons",
      "label": "Show share icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Sidebar settings"
    },
    {
      "type": "select",
      "id": "sidebar_text_align",
      "label": "Text alignment",
      "options": [{
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "sidebar_block_border",
      "label": "Border sidebar blocks",
      "default": true
    }
  ],
  "blocks": [{
      "type": "blog-posts",
      "name": "Blog posts",
      "settings": [{
          "id": "blog",
          "type": "blog",
          "label": "Blog"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "More posts"
        },
        {
          "type": "checkbox",
          "id": "show_excerpt",
          "label": "Show excerpt text",
          "default": true
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [{
          "type": "link_list",
          "id": "side_nav",
          "label": "Menu"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Explore"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [{
          "type": "richtext",
          "id": "sidebar_text",
          "label": "Text",
          "default": "<p>Add some text to your blog sidebar</p>"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [{
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Explain the benefits of subscribing</p>"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    },
    {
      "type": "profile",
      "name": "Profile",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Meet the Author"
        },
        {
         "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "bio_text",
          "label": "Text",
          "default": "<p>Add some profile text to talk about the author</p>"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [{
          "type": "product",
          "id": "featured_product",
          "label": "Product"
        },
        {
          "type": "checkbox",
          "id": "show_button",
          "label": "Show button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Shop this product"
        }
      ]
    }
  ]
}
{% endschema %}
