<style>
  #shopify-section-{{ section.id }} {
    --text-color: {{ section.settings.color }};
    --section-background: {{ section.settings.background }};
  }
</style>

<section id="product__content-{{ product.id }}"
  class="mt0 main__section product__content-section"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-url="{{ product.url }}"
  data-section-type="product__content-section">

<div class="product__content-section row grid__wrapper">

  {% for block in section.blocks %}

    {%- liquid

      assign label = block.settings.label
      assign show_label = false

      if label != blank
        assign show_label = true
      endif

      case block.settings.block_width
        when 'small'
          assign block_width = 'span-4'
        when 'medium'
          assign block_width = 'span-6'
        when 'large'
          assign block_width = 'span-12'
      endcase

    -%}

    {% case block.type %}
      {% when 'product_description' %}

        <div class="product__section--desc product__decription-container {{ block_width }} sm-span-12 auto rte" {{ block.shopify_attributes }}>
          {% if show_label %}
            <h3 class="product__section-title product-details">{{ label }}</h3>
          {% endif %}
          {{ product.description }}
        </div>

        <style>
          .product__description--base,
          .product__tab--0,
          .tabbed__product-0 {
            display: none !important;
          }
        </style>

      {% when 'text' %}
        <div class="product__section--richtext product__decription-container {{ block_width }}  sm-span-12 auto rte" {{ block.shopify_attributes }}>
          <h3 class="product__section-title product-details">{{ label }}</h3>
          {{ block.settings.text }}
        </div>

      {% when 'image' %}
        {% if block.settings.image != blank %}
        <div class="product__section--richtext product__decription-container {{ block_width }} sm-span-12 auto rte" {{ block.shopify_attributes }}>
          {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
              {% render 'basic-responsive-image', type: block.settings.image, data_widths: '[180, 360, 540, 720, 900]' %}
              <noscript>
                <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
              </noscript>
          {% if block.settings.link != blank %}</a>{% endif %}
        </div>
        {% endif %}

      {%- when '@app' -%}
        <div class="product__content-section--app span-12 auto ">
          {% render block %}
        </div>
    {% endcase %}
  {% endfor %}
</div>

</section>
{% schema %}
{
  "name": "Product content",
  "max_blocks": 4,
  "settings": [
    {
      "type": "paragraph",
      "content": "Add an alternate content structure to product pages with description content and featured items."
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#f9f9f9"
    }
  ],
  "blocks": [
    {
      "type": "product_description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "When enabled this will hide the product description that is normally shown to the right of the images"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Product details"
        },
        {
          "type": "select",
          "id": "block_width",
          "label": "Content width",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Add rich text to enhance your product page content</p>"
        },
        {
          "type": "select",
          "id": "block_width",
          "label": "Content width",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "select",
          "id": "block_width",
          "label": "Content width",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
