{%- liquid

  assign collection_link = ''
  if collection.handle
    assign collection_link = '/collections/' | append: collection.handle
  elsif collection.products.first.type == collection.title
    assign collection_link = collection.title | url_for_type
  elsif collection.products.first.vendor == collection.title
    assign collection_link = collection.title | url_for_vendor
  endif

  assign show_sidebar = false
  assign filtering_enabled = false
  assign horizontal_filtering_enabled = false
  assign horizontal_sort = false
  assign side_sort = false

  for block in section.blocks
    if block.type == 'menu' or block.type == 'image' or block.type == 'text' or block.type == 'side_filter' or block.type == 'side_sortby'
      assign show_sidebar = true
    endif
    if block.type == 'dropdown_filter'
      assign horizontal_filtering_enabled = true
    endif
    if block.type == 'dropdown_sortby'
      assign horizontal_sort = true
    endif
    if block.type == 'side_filter'
      assign filtering_enabled = true
    endif
    if block.type == 'side_sortby'
      assign side_sort = true
    endif
  endfor

  assign grid = section.settings.grid
  assign product_limit = section.settings.grid | times: section.settings.rows

  assign filter_count = 0
  for filter in collection.filters
    if filter.type == 'price_range'
      if filter.min_value.value != nil or filter.max_value.value != nil
        assign filter_count = 1
      endif
    endif

    assign filter_count = filter_count | plus: filter.active_values.size
  endfor

  if section.settings.show_image and collection.image != blank
    assign collection_image = true
    assign desc_width = 'span-9'
  else
    assign collection_image = false
    assign desc_width = 'span-12'
  endif

-%}

<section class="collection__page row grid__wrapper section-{{ section.id }} global__section"
data-section-id="{{ section.id }}"
data-section-type="collection-section"
data-collection-link="{{ collection_link }}">

  {% paginate collection.products by product_limit %}
    <div id="CollectionProductGrid" class="span-12 auto grid__wrapper grid__wrapper-nest gr0">

      {%- if section.settings.description_position == 'top' -%}
        <div class="collection__page-description {{ desc_width }} sm-span-12 auto">
          <div class="rte">
            {{ collection.description | remove: "[banner]" }}
          </div>
        </div>
        {%- if collection_image -%}
          <div class="collection__page-image span-3 sm-span-12 auto">
            <img src="{{ collection.image | img_url: '350x' }}" alt="{{ collection.image.alt }}">
          </div>
        {%- endif -%}
      {%- endif -%}

      {%- if horizontal_filtering_enabled or horizontal_sort -%}
        <form id="CollectionFiltersForm" class="span-12 auto" data-collection-filters>
          {% render 'collection-horizontal-toolbar',
            collection: collection,
            block: block,
            horizontal_filtering_enabled: horizontal_filtering_enabled,
            horizontal_sort: horizontal_sort %}
        </form>
      {%- endif -%}

      {% if show_sidebar %}
        <form id="CollectionSidebarFiltersForm" class="span-3 sm-span-12 auto" data-collection-sidebar-filters>
          {% render 'collection-sidebar',
            collection: collection, block: block %}
        </form>
      {% endif %}

      {% if show_sidebar %}<div class="collection__page--productContent span-9 sm-span-12 auto">{% endif %}

        {% if filter_count > 0 %}
          <div class="filtering__results span-12 auto js-filters-reset">
            <ul class="current_tags">
              {%- for filter in collection.filters -%}
                {%- for value in filter.active_values -%}
                  <li class="current_filters--filter current_tag">
                    <a class="js-current-filter" href="{{ value.url_to_remove }}">
                      {{ value.label | escape }}
                    </a>
                  </li>
                {%- endfor -%}
                {% if filter.type == "price_range" %}
                  {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                    <li class="current_filters--filter current_tag">
                      <a class="js-current-filter" href="{{ filter.url_to_remove }}">
                        {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                      </a>
                    </li>
                  {%- endif -%}
                {% endif %}
              {%- endfor -%}
              <li><a class="current_filters--clear js-current-filter clear-tags" href="{{ collection.url }}">{{ 'sections.collection_template.clear_all' | t }}</a></li>
            </ul>
          </div>
        {% endif %}

        {%- if collection.products.size >= 1 -%}
          <div id="main-collection-product-grid"
          class="product-loop collection__page-products grid-align-{{ settings.details_align }} span-12 auto"
          data-aos="fade"
          data-id="{{ section.id }}">
            {% for product in collection.products %}
              <div id="product-listing-{{ product.id }}" class="item product-index collection__page-product js-product-listing" data-alpha="{{ product.title }}" data-product-id="{{ product.id }}" data-price="{{ product.price }}">
                {% render 'product-listing',
                  product: product,
                  collection: collection %}
              </div>
            {% endfor %}

            <style>
              .collection__page-products {
                grid-template-columns: repeat({{ grid }}, 1fr);
              }
            </style>
          </div>
        {%- else -%}
          <div id="main-collection-product-grid"
          class="collection collection--empty span-12 auto"
          data-id="{{ section.id }}">
            <span class="rte">{{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underline" }}</span>
          </div>
        {%- endif -%}

      {% if show_sidebar %}</div>{% endif %}

      {%- if section.settings.description_position == 'bottom' -%}
        <div class="collection__page-description span-12 auto">
          <div class="rte">
            {{ collection.description | remove: "[banner]" }}
          </div>
        </div>
      {%- endif -%}

      {% unless collection.products_count <= product_limit %}
        {% render 'pagination', paginate: paginate %}
      {% endunless %}
    </div>
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Collection page",
  "max_blocks": 8,
  "settings": [{
      "type": "range",
      "id": "rows",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Rows",
      "default": 4
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show collection image",
      "default": false
    },
    {
      "type": "select",
      "id": "description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    }
  ],
  "blocks": [{
      "type": "dropdown_filter",
      "name": "Dropdown filter",
      "limit": 1,
      "settings": [{
        "type": "paragraph",
        "content": "Learn how to add storefront filters [here](https:\/\/help.shopify.com\/en\/manual\/online-store\/themes\/os20\/customize\/filters)"
      }]
    },
    {
      "type": "dropdown_sortby",
      "limit": 1,
      "name": "Dropdown sort by",
      "settings": []
    },
    {
      "type": "menu",
      "name": "Sidebar menu",
      "settings": [{
          "type": "link_list",
          "id": "side_nav",
          "label": "Sidebar menu"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Menu title",
          "default": "Explore"
        }
      ]
    },
    {
      "type": "text",
      "name": "Sidebar text",
      "settings": [{
        "type": "richtext",
        "id": "sidebar_text",
        "label": "Text",
        "default": "<p>Add some text to your collection page sidebar</p>"
      }]
    },
    {
      "type": "side_filter",
      "name": "Sidebar filter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Learn how to add storefront filters [here](https:\/\/help.shopify.com\/en\/manual\/online-store\/themes\/os20\/customize\/filters)"
        },
        {
          "type": "checkbox",
          "id": "show_color_swatches",
          "label":"Show color swatches",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_filter_count",
          "label":"Show filter count",
          "default": true
        }
      ]
    },
    {
      "type": "side_sortby",
      "limit": 1,
      "name": "Sidebar sort by",
      "settings": []
    },
    {
      "type": "image",
      "name": "Sidebar image",
      "settings": [{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]
}
{% endschema %}
