{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

  assign wide_screen = false

  if section.settings.display_wide
    assign wide_screen = true
  endif

  if section.settings.enable_autoplay
    assign slider_speed = section.settings.slider_speed | times: 1000
  else
    assign slider_speed = false
  endif

-%}

<style>
    #shopify-section-{{ section.id }} {
      --h2-size:  {{ section.settings.slide_heading_size }}px;
      --font-size:  {{ section.settings.subheading_size }}px;
    }
    @media screen and (max-width: 740px) {
      #shopify-section-{{ section.id }} {
        --h2-size:  calc({{ section.settings.slide_heading_size }}px - ({{ section.settings.slide_heading_size }}px * 0.15));
        --font-size:  calc({{ section.settings.subheading_size }}px - ({{ section.settings.subheading_size }}px * 0.15));
      }
    }
    {% for block in section.blocks %}
      #slide--{{ section.id }}-slide-{{ forloop.index0 }} {
        --section-overlay-color: {{ block.settings.overlay_color | color_to_rgb | remove: 'rgb(' | remove: ')' }};
        --section-overlay-opacity: {{ block.settings.overlay_opacity | plus: 0 | divided_by: 100.0  }};
        --text-color: {{ block.settings.text_color }};
        --button-text: {{ block.settings.button_color }};
        --button-color: {{ block.settings.button_background }};
      }
    {% endfor %}
</style>

<section
class="global__section slideshow-section {{ section_padding }}"
data-section-id="{{ section.id }}"
data-section-type="slideshow-section"
data-aos="fade"
data-slideout-ignore>
  {% if wide_screen %}<div class="gridlock-fluid"><div class="row">{% endif %}
  <div class="row grid__wrapper"><div class="span-12 auto">

    {% capture slideshow_config %}{
      "wrapAround":true,
      "dragThreshold":"15",
      "pauseAutoPlayOnHover":false,
      "autoPlay": {{ slider_speed }},
      "fade": true,
      "adaptiveHeight": true,
      "pageDots":{% if section.settings.pager == 'arrows' %}false{% else %}true{% endif %},
      "prevNextButtons":{% if section.settings.pager == 'arrows' %}true{% else %}false{% endif %}
   }{% endcapture %}

    {% if section.blocks.size > 0 %}
      <div class="slideshow flickity__section js-slideshow" id="slideshow--{{ section.id }}" data-flickity='{{ slideshow_config }}'>
        {% for block in section.blocks %}
          <div id="slide--{{ section.id }}-slide-{{ forloop.index0 }}"
               data-block-id="{{ block.id }}"
               class="slide--{{ block.id }} slideshow__slide{% if block.settings.image == blank %} slideshow__slide-onboard{% endif %}"
               data-slider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>

               {%- liquid

                 assign has_link = false
                 assign image_is_link = false
                 assign button_is_link = false
                 assign has_image = false
                 assign hide_caption = false
                 assign overlay = false
                 assign has_button = false
                 assign has_second_button = false
                 assign caption_below = false

                 assign heading = block.settings.heading
                 assign subheading = block.settings.subheading
                 assign button_text = block.settings.button_text
                 assign second_button_text = block.settings.second_button_text
                 assign link = block.settings.link
                 assign second_link = block.settings.second_link
                 assign caption_position = block.settings.caption_position

                 if block.settings.link != blank and block.settings.button_text == blank
                   assign image_is_link = true
                 endif

                 if block.settings.link != blank and block.settings.button_text != blank
                   assign button_is_link = true
                 endif

                 if block.settings.image != blank
                   assign has_image = true
                 endif

                 if block.settings.overlay
                   assign overlay = true
                 endif

                 if heading == blank and subheading == blank and button_text == blank and second_button_text == blank
                   assign hide_caption = true
                 endif

                 if heading != blank
                   assign has_heading = true
                 endif

                 if subheading != blank
                   assign has_subheading = true
                 endif

                 if button_text != blank and link != blank
                   assign has_button = true
                 endif

                 if second_button_text != blank and second_link != blank
                   assign has_second_button = true
                 endif

                 if block.settings.caption_below
                  assign caption_below = true
                 endif

               -%}

               {% if image_is_link %}<a href="{{ link }}">{% endif %}
               {% if has_image %}
                 <div class="slideshow__slide-desktop">
                   {% render 'basic-responsive-image', type:  block.settings.image %}
                   <noscript>
                     <img src="{{ block.settings.image | img_url: '1024x' }}" alt="{{ block.settings.image.alt | escape }}" class="slideshow__image slideshow__image--{{ block.id }}">
                   </noscript>
                 </div>
               {% endif %}
               {% if image_is_link %}</a>{% endif %}
               {% unless has_image %}
                 {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                 {%- assign placeholder = 'lifestyle-' | append: current -%}
                 {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
               {% endunless %}
               {% unless hide_caption %}
                 <div class="slideshow__caption image__caption {{ caption_position }} slide-{{ block.id }}{% if caption_below %} mobile__caption-below{% endif %}">
                   <div class="slideshow__caption-wrapper">
                     {% if has_heading %}
                     <h2 class="slideshow__title">{{ heading | escape }}</h2>
                     {% endif %}
                     {% if has_subheading %}
                     <div class="rte">
                       {{ subheading }}
                     </div>
                     {% endif %}
                     {% if has_button %}
                     <div class="slideshow__btn-wrapper">
                       <a class="button" href="{{ link }}">{{ button_text | escape }}</a>
                     </div>
                     {% endif %}
                     {% if has_second_button %}
                     <div class="slideshow__btn-wrapper">
                       <a class="button" href="{{ second_link }}">{{ second_button_text | escape }}</a>
                     </div>
                     {% endif %}
                   </div>
                 </div>
               {% endunless %}

            <style>
            @media screen and (max-width: 740px) {
              {%- assign mobile_image = block.settings.mobile_image -%}
              {% assign image_box_ratio = mobile_image.height | append: ".0" | times: 1 | divided_by: mobile_image.width | times: 100 | append: "%" %}
              {% if mobile_image != blank %}
                .slide--{{ block.id }} {
                  background-image: url('{{ mobile_image | img_url: '600x' }}') !important;
                  opacity: 1;
                  padding-bottom: 0;
                  background-size: contain;
                  background-position: top center;
                  background-repeat: no-repeat;
                }
                .slide--{{ block.id }} > a {
                   display: block;
                   width: 100%;
                   padding-bottom: 100%;
                   position: absolute;
                   top: 0;
                   height: 100%;
                 }
                .slide--{{ block.id }} .slideshow__slide-desktop,
                .slide--{{ block.id }} .slideshow__slide-desktop:before  {
                  padding-bottom: {{ image_box_ratio }};
                  height: 0;
                }
                .slide--{{ block.id }} .slideshow__slide-desktop .box-ratio,
                .slide--{{ block.id }} .slideshow__slide-desktop .boz-ratio img {
                  display: none;
                }
              {% else %}
                  .slide--{{ block.id }} .slideshow__slide-desktop .box-ratio {
                    padding-bottom: 550px !important;
                  }
                  .slide--{{ block.id }} .slideshow__slide-desktop:before {
                    height: 550px;
                  }
                  .slide--{{ block.id }} .slideshow__slide-desktop img {
                    object-fit: cover;
                    object-position: center;
                    height: 550px !important;
                  }
                .slide--{{ block.id }} .slideshow__slide-desktop {
                  display: block;
                }
              {% endif %}
              {% if block.settings.caption_below %}
                .slideshow__slide .slideshow__caption.slide-{{ block.id }} {
                  position: relative;
                  width: 100%;
                }
                .slideshow__slide .slideshow__caption.slide-{{ block.id }} .slideshow__caption-wrapper {
                  width: 100%;
                }
              {% endif %}
            }
            </style>
          </div>
        {% endfor %}
      </div>
    {% elsif section.blocks.size == 0 %}
      {% render 'no-blocks' %}
    {% endif %}

  </div></div>
  {% if wide_screen %}</div></div>{% endif %}
</section>
<div class="clear"></div>

{% schema %}
{
  "name": "Slideshow",
  "class": "header__overlay-banner",
  "max_blocks": 5,
  "blocks": [{
    "type": "image",
    "name": "Image slide",
    "settings": [{
        "type": "header",
        "content": "Desktop settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Desktop image",
        "info": "1920px x 1000px recommended"
      },
      {
        "type": "select",
        "id": "caption_position",
        "label": "Caption position",
        "default": "middle_center",
        "options": [
          {
            "value": "top_left",
            "label": "Top left"
          },
          {
            "value": "top_center",
            "label": "Top center"
          },
          {
            "value": "top_right",
            "label": "Top right"
          },
          {
            "value": "middle_left",
            "label": "Middle left"
          },
          {
            "value": "middle_center",
            "label": "Middle center"
          },
          {
            "value": "middle_right",
            "label": "Middle right"
          },
          {
            "value": "bottom_left",
            "label": "Bottom left"
          },
          {
            "value": "bottom_center",
            "label": "Bottom center"
          },
          {
            "value": "bottom_right",
            "label": "Bottom right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile image",
        "info": "800px x 1200px recommended"
      },
      {
        "type": "checkbox",
        "id": "caption_below",
        "label": "Position caption below image",
        "info":"Not recommended if slide text is the same color as the main background color setting"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Slide image"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading",
        "default": "<p>Tell your story</p>"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Add a button",
        "info": "Visible only if a link is chosen"
      },
      {
        "type": "url",
        "id": "second_link",
        "label": "Button 2 link"
      },
      {
        "type": "text",
        "id": "second_button_text",
        "label": "Button 2 text",
        "default": "Button 2 text",
        "info": "A link must be selected"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Button text",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_background",
        "label": "Button background",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay color",
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Overlay opacity",
        "default": 0
      }
    ]
  }],
  "settings": [
    {
      "type": "checkbox",
      "id": "display_wide",
      "label": "Enable full width",
      "default": true
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section spacing",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Auto-change slides",
      "default": false
    },
    {
      "type": "range",
      "id": "slider_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "label": "Slideshow speed (seconds)",
      "default": 5
    },
    {
      "type": "select",
      "id": "pager",
      "label": "Navigation style",
      "default": "dots",
      "options": [{
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "arrows",
          "label": "Arrows"
        }
      ]
    },
    {
      "type": "header",
      "content": "Slideshow caption text"
    },
    {
      "type": "range",
      "id": "slide_heading_size",
      "min": 12,
      "max": 72,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 22
    },
    {
      "type": "range",
      "id": "subheading_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Subheading size",
      "default": 14
    }
  ],
  "presets": [{
    "name": "Slideshow",
    "blocks": [{
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
