{%- liquid

  assign section_padding = ''
  if section.settings.section_padding == 'top'
    assign section_padding = 'pb0'
  elsif section.settings.section_padding == 'bottom'
    assign section_padding = 'mt0'
  elsif section.settings.section_padding == 'none'
    assign section_padding = 'mt0 pb0'
  endif

-%}

<section class="global__section story__section {{ section_padding }}" data-section-id="{{ section.id }}" data-aos="fade">

  {% if section.settings.heading != blank %}
    <div class="row grid__wrapper">
      <div class="span-12 auto">
        <h2 class="section-heading">{{ section.settings.heading | escape }}</h2>
      </div>
    </div>
  {% endif %}

  <div class="row story__section-wrapper section-{{ section.id }}">
    {% for block in section.blocks %}
      {% if block.type == 'image' %}
        <div class="story__section-image story__block-{{ block.id }}">
          {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{% endif %}
            {% if block.settings.image != blank %}
              {% render 'basic-responsive-image', type: block.settings.image, data_widths: '[180, 360, 540, 720, 900]' %}
              <noscript>
                <img src="{{ block.settings.image | img_url: '800x' }}" alt="{{ block.settings.image.alt }}">
              </noscript>
            {% else %}
              <div class="onboard">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% endif %}
          {% if block.settings.link != blank %}</a>{% endif %}
        </div>
      {% elsif block.type == 'text' %}
        <div class="story__section-text story__block-{{ block.id }}">
          <div class="story__section-text-container{% if block.settings.center_align %} center{% endif %}">
            <div class="rte{% if block.settings.center_align %} center{% endif %}">
              {{ block.settings.text }}
            </div>
            {% if block.settings.button != blank and block.settings.link != blank %}
              <a href="{{ block.settings.link }}" class="button">
                {{ block.settings.button | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      {% elsif block.type == 'page' %}
        <div class="story__section-pageContent story__block-{{ block.id }}">
          <div class="rte{% if block.settings.center_align %} center{% endif %}">
            {{ page.content }}
          </div>
        </div>
      {% elsif block.type == 'video' %}
        <div class="story__section-video story__block-{{ block.id }}">
          <div class="video-wrapper">
            {% if block.settings.video_url == blank %}
              <iframe title="{{ block.settings.description | escape }}" src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
            {% else %}
              {% if block.settings.video_url.type == "youtube" %}
                <iframe title="{{ block.settings.description | escape }}" src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
              {% elsif block.settings.video_url.type == "vimeo" %}
                <iframe title="{{ block.settings.description | escape }}" src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endif %}

      {%- liquid
        case block.settings.block_height
          when 'small'
          assign block_height = '250px'
          when 'medium'
          assign block_height = '450px'
          when 'large'
          assign block_height = '800px'
        endcase

        assign bSize = block.settings.column_size
      -%}

      <style>
        .story__block-{{ block.id }} {
          grid-column: auto / span {{ bSize }};
          position: relative;
        }
        .story__block-{{ block.id }} {
          overflow: hidden;
        }
        .story__section-pageContent.story__block-{{ block.id }},
        .story__section-text.story__block-{{ block.id }} {
          background: {{ block.settings.background }};
        }
        .story__section-pageContent.story__block-{{ block.id }} .rte p,
        .story__section-pageContent.story__block-{{ block.id }} .rte a,
        .story__section-text.story__block-{{ block.id }} .rte p,
        .story__section-text.story__block-{{ block.id }} .rte a {
          color: {{ block.settings.color }};
          font-size: {{ block.settings.font_size }}px;
          line-height: 1.2;
        }
        {% unless block.settings.block_height == 'natural' %}
          @media screen and (min-width: 741px) {
            .story__block-{{ block.id }} {
              height: {{ block_height }};
            }
            .story__block-{{ block.id }}  .box-ratio {
              padding-bottom: {{ block_height }} ! important;
            }
            .story__block-{{ block.id }} img {
              height: {{ block_height }};
              object-fit: cover;
              object-position: center;
            }
            .story__block-{{ block.id }} .video-wrapper {
              padding-bottom: {{ block_height }} !important;
            }
            .story__block-{{ block.id }} .video-wrapper,
            .story__section-video.story__block-{{ block.id }}  .video-wrapper iframe {
                top: 50% !important;
                left: 50% !important;
                -webkit-transform: translate(-500%, -50%);
                -ms-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .story__section-video.story__block-{{ block.id }}  .video-wrapper iframe {
                height: 150% !important;
            }
          }
        {% endunless %}
        @media screen and (max-width: 740px) {
          .story__block-{{ block.id }} {
            grid-column: auto / span 6;
          }
        }
      </style>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Story",
  "settings": [{
    "type": "text",
    "id": "heading",
    "label": "Heading",
    "default": "Our story"
  },
  {
    "type": "select",
    "id": "section_padding",
    "label": "Section spacing",
    "options": [
      {
        "value": "top",
        "label": "Top"
      },
      {
        "value": "bottom",
        "label": "Bottom"
      },
      {
        "value": "both",
        "label": "Both"
      },
      {
        "value": "none",
        "label": "None"
      }
    ],
    "default": "both"
  }],
  "blocks": [{
      "type": "image",
      "name": "Image",
      "settings": [{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "range",
          "id": "column_size",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Block width (maximum of 6 per row)",
          "default": 2,
          "info": "Choose how many blocks this will fill"
        },
        {
          "type": "select",
          "id": "block_height",
          "label": "Block height",
          "default": "medium",
          "options": [{
              "value": "natural",
              "label": "Natural"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [{
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair text with an image to add details about your products, brand and selling proposition.</p>"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "range",
          "id": "column_size",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Block width (Maximum of 6 per row)",
          "default": 2,
          "info": "Choose how many blocks this will fill"
        },
        {
          "type": "select",
          "id": "block_height",
          "label": "Block height",
          "default": "medium",
          "options": [{
              "value": "natural",
              "label": "Natural"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "center_align",
          "label": "Center align",
          "default": false
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#ffffff",
          "info": "Applies when block height is not 'natural'"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 13,
          "max": 36,
          "step": 1,
          "label": "Text size",
          "unit": "px",
          "default": 15
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "limit": 1,
      "settings": [{
          "type": "video_url",
          "id": "video_url",
          "label": "YouTube or Vimeo link",
          "accept": ["youtube", "vimeo"]
        },
        {
          "type": "text",
          "id": "description",
          "default": "Describe the video for customers using screen readers",
          "label": "Video alt text"
        },
        {
          "type": "range",
          "id": "column_size",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Block width (maximum of 6 per row)",
          "default": 2,
          "info": "Choose how many blocks this will fill"
        },
        {
          "type": "select",
          "id": "block_height",
          "label": "Block height",
          "default": "medium",
          "options": [{
              "value": "natural",
              "label": "Natural"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        }
      ]
    },
    {
      "type": "page",
      "name": "Page content",
      "limit": 1,
      "settings": [{
          "type": "range",
          "id": "column_size",
          "min": 1,
          "max": 6,
          "step": 1,
          "label": "Block width (maximum of 6 per row)",
          "default": 6,
          "info": "Choose how many blocks this will fill"
        },
        {
          "type": "select",
          "id": "block_height",
          "label": "Block height",
          "default": "natural",
          "options": [{
              "value": "natural",
              "label": "Natural"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "center_align",
          "label": "Center align",
          "default": false
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background",
          "default": "#ffffff",
          "info": "Applies when block height is not 'natural'"
        },
        {
          "type": "range",
          "id": "font_size",
          "min": 13,
          "max": 36,
          "step": 1,
          "label": "Text size",
          "unit": "px",
          "default": 15
        }
      ]
    }
  ],
  "presets": [{
    "name": "Story",
    "blocks": [{
        "type": "text",
        "settings": {
          "text": "<p>Pair text with an image to add details about your products, brand and selling proposition.<\/p>",
          "button": "",
          "link": "",
          "column_size": 2,
          "block_height": "medium",
          "center_align": false,
          "color": "#000000",
          "background": "#ededed",
          "font_size": 20
        }
      },
      {
        "type": "video",
        "settings": {
          "column_size": 4,
          "block_height": "medium"
        }
      },
      {
        "type": "image",
        "settings": {
          "link": "",
          "column_size": 3,
          "block_height": "medium"
        }
      },
      {
        "type": "text",
        "settings": {
          "text": "<p>Pair text with an image to add details about your products, brand and selling proposition.<\/p>",
          "button": "",
          "link": "",
          "column_size": 3,
          "block_height": "medium",
          "center_align": false,
          "color": "#000000",
          "background": "#ededed",
          "font_size": 20
        }
      },
      {
        "type": "text",
        "settings": {
          "text": "<p>Pair text with an image to add details about your products, brand and selling proposition.<\/p>",
          "button": "",
          "link": "",
          "column_size": 2,
          "block_height": "medium",
          "center_align": false,
          "color": "#000000",
          "background": "#ededed",
          "font_size": 20
        }
      },
      {
        "type": "image",
        "settings": {
          "link": "",
          "column_size": 2,
          "block_height": "medium"
        }
      },
      {
        "type": "image",
        "settings": {
          "link": "",
          "column_size": 2,
          "block_height": "medium"
        }
      }
    ]
  }],
  "templates": ["404", "article", "blog", "cart", "collection", "list-collections", "index", "page", "product", "search"]
}
{% endschema %}
